extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Agency Default';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let currentPage = 1.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 1; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header-secondary

block content
	include modules/hero
	include modules/features
	include modules/our-services
	include modules/works
	include modules/contact-section


block footer
	include modules/footer
