extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Blog Listing';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 4.03; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let headerClasses = '__js_fixed-header';

block header
	include modules/header

block content
	article.blog-grid.blog-grid--listing
		.blog-grid__first-screen
			.blog-grid__first-screen-image.__js_parallax
				picture
					source(type="image/webp" srcset="img/picture/news/banner-blog-2.webp 1x, img/picture/news/banner-blog-2@2x.webp 2x")
					img(src="img/picture/news/banner-blog-2.jpg", srcset="img/picture/news/banner-blog-2@2x.jpg 2x", width="1920", height="1063", alt="")
			h1.heading.heading--size-large.blog-grid__title Blog
		.blog-grid__container.container.container--small
			// Filter news
			.filter.blog-grid__filter
				each item in ['all', 'design', 'marketing', 'business', 'photography']
					- let filterVal = item === 'all' ? '*' : '.__js_' + item;
					- let activeClass = item === 'all' ? ' filter__item--active' : '';
					button(class="filter__item" + activeClass + ' __js_filter-btn', type="button", data-filter= filterVal)= item

			ul.row.blog-grid__row.__js_blog-grid
				+news-card({n: 'blog-5-2', w: '1221', h: '409'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design __js_business')
				+news-card({n: 'blog-9-3', w: '1221', h: '409'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design')
				+news-card({n: 'blog-3-3', w: '1229', h: '409'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_marketing __js_design')
				+news-card({n: 'blog-8-2', w: '1221', h: '409'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography __js_marketing')
			+circle-link('', 'blog-grid__more')


block footer
	include modules/footer
