extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Blog Listing';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 4.03; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4

block header
	include modules/header-secondary

block content
	article.blog-grid.blog-grid--listing
		.blog-grid__first-screen
			h1.heading.heading--size-large.blog-grid__title Blog
		.container.container--small.blog-grid__container
			// Filter news
			.filter.blog-grid__filter
				each item in ['all', 'design', 'marketing', 'business', 'photography']
					- let filterVal = item === 'all' ? '*' : '.__js_' + item;
					- let activeClass = item === 'all' ? ' filter__item--active' : '';
					button(class="filter__item" + activeClass + ' __js_filter-btn', type="button", data-filter= filterVal)= item

			ul.row.blog-grid__row.__js_blog-grid
				+news-card('blog-5-2', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design __js_business')
				+news-card('blog-9-3', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design')
				+news-card('blog-3-3', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_marketing __js_design')
				+news-card('blog-8-2', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography __js_marketing')
			+circle-link('', 'blog-grid__more')


block footer
	include modules/footer
