extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Blog Masonry';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 4.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let headerClasses = 'header--separator __js_fixed-header';

block header
	include modules/header

block content
	article.blog-grid.blog-grid--masonry
		.blog-grid__container.container.container--size-large
			h1.heading.heading--size-large.blog-grid__title Posts

			// Filter news
			.filter.blog-grid__filter
				each item in ['all', 'design', 'marketing', 'business', 'photography']
					- let filterVal = item === 'all' ? '*' : '.__js_' + item;
					- let activeClass = item === 'all' ? ' filter__item--active' : '';
					button(class="filter__item" + activeClass + ' __js_filter-btn', type="button", data-filter= filterVal)= item

			ul.row.blog-grid__row.__js_blog-grid
				+news-card({n: 'blog-1', w: '533', h: '510'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design __js_business')
				+news-card({n: 'blog-2', w: '533', h: '510'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design')
				+news-card({n: 'blog-3-2', w: '533', h: '1080'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_marketing __js_design')
				+news-card({n: 'blog-7-2', w: '533', h: '1080'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography __js_marketing')
				+news-card({n: 'blog-5', w: '533', h: '510'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_marketing')
				+news-card({n: 'blog-9-2', w: '1125', h: '510'}, '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography news-card--width2')
			+circle-link('', 'blog-grid__more')


block footer
	include modules/footer
