extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Blog Grid';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 4.02; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 4; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let headerClasses = 'header--separator __js_fixed-header';

block header
	include modules/header

block content
	article.blog-grid
		.container.blog-grid__container
			h1.heading.heading--size-large.blog-grid__title Posts

			// Filter news
			.filter.blog-grid__filter
				each item in ['all', 'design', 'marketing', 'business', 'photography']
					- let filterVal = item === 'all' ? '*' : '.__js_' + item;
					- let activeClass = item === 'all' ? ' filter__item--active' : '';
					button(class="filter__item" + activeClass + ' __js_filter-btn', type="button", data-filter= filterVal)= item

			ul.row.blog-grid__row.__js_blog-grid
				+news-card('blog-1', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design __js_business')
				+news-card('blog-2', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_design')
				+news-card('blog-3', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_marketing __js_design')
				+news-card('blog-4', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography __js_marketing')
				+news-card('blog-5', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_marketing')
				+news-card('blog-6', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography __js_business')
				+news-card('blog-7', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_business')
				+news-card('blog-8', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography __js_design')
				+news-card('blog-9', '16', 'Jan', '2020', 'Design', 'A few words <br> about us', 'We make our customers &#39; products valuable in the eyes of customers. To do this, we analyze and study people,', '#')(class='__js_photography')
			+circle-link('', 'blog-grid__more')


block footer
	include modules/footer
