extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Contact';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 5.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 5; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let headerClasses = 'header--separator __js_fixed-header';

block header
	include modules/header

block content
	article.contact
		section.contact-section
			.contact-section__container.container.container--size-large
				.row
					.contact-section__main.col-12.col-md
						h2.contact-section__title(data-aos="fade-up") Contact
						address.contact-section__address(data-aos="fade-up") 269 King Str, 05th Floor, Utral Hosue Building, Melbourne, VIC 3000, Australia.

						.contact-section__link(data-aos="fade-up")
							a(href="tel:+34255216021") +3 (425) 521 60 21
						.contact-section__link(data-aos="fade-up")
							a(href="mailto:info@centrix.com") info@centrix.com

						ul.contact-section__social(data-aos="fade-up")
							each item in FOOTER_MENU_2
								li
									a(href= item.url)= item.name
					.col-12.col-md
						.discuss-project.discuss-project--no-padding.contact-section__aside
							.discuss-project__wrapper(data-aos="fade-up")
								.discuss-project__title(data-aos="fade-up") Contact

								form(action="#", method="post")
									.row.justify-content-between.gx-0
										.discuss-project__field-wrapper.col-12.col-md-6(data-aos="fade-up")
											label.discuss-project__field.field
												input(type="text", name="name")
												span.field__hint Name
										.discuss-project__field-wrapper.col-12.col-md-6(data-aos="fade-up")
											label.discuss-project__field.field
												input(type="email", name="email")
												span.field__hint Email
										.col-12(data-aos="fade-up")
											label.discuss-project__field.discuss-project__field--textarea.field
												textarea(name="message", required)
												span.field__hint Message
										.discuss-project__bottom.col-12
											.discuss-project__file.file-upload(data-aos="fade-up")
												label.file-upload__label
													input.visually-hidden(type="file")
													span.file-upload__icon
														+icon('paper-clip')(width="16", height="16")
													span.file-upload__text Attach a file
											+btn(true, 'Submit', '', 'discuss-project__send btn--theme-black')(type="submit", data-aos="fade-up")
			.contact-section__map(id="map", data-aos="fade-up")
				iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A351063e7db352f0133fe8dca1724bd5b8208d2a14e4ca511a12b61acfa0179d0&source=constructor')
			//-script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&libraries=&v=weekly", async)



block footer
	include modules/footer
