extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Demo';
	- let isHome = true; //- Если true то логотип не будет ссылкой
	- let currentPage = 0; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 0; // // Для каждой раздела уникален. Home -1, about - 2, works - 3, news - 4, pages - 5
	- let isIntro = true;

block header
	header.header.header--demo.header--white.header--separator.header--absolute.header--centered
		.header__container.container.container--size-large
			a.header__logo.logo(href= URLS.home.default)
				+icon('logo')(width="76" height="19")
			.header__mobile.mobile-canvas
				nav.mobile-canvas__nav.navigation
					ul.navigation__list
						each item, index in MAIN_MENU
							if item.currentSection === currentSection && item.currentPage === currentPage
								li.navigation__item.navigation__item--current
									a.navigation__link= item.name
										span.navigation__link-icon
											+icon('link-arrow')(width="12", height="13")
									if item.submenu
										+navigation-dropdown(item.submenu)
							else if item.currentSection === currentSection && item.currentPage !== currentPage && item.submenu != false
								li.navigation__item.navigation__item--current
									a.navigation__link(href= item.url)= item.name
										span.navigation__link-icon
											+icon('link-arrow')(width="12", height="13")
									if item.submenu
										+navigation-dropdown(item.submenu)
							else
								li.navigation__item
									a.navigation__link.animsition-link(href= item.url)= item.name
										span.navigation__link-icon
											+icon('link-arrow')(width="12", height="13")
									if item.submenu
										+navigation-dropdown(item.submenu)
			button.header__menu-toggle.menu-toggle(type="button")
				span.menu-toggle__line
				span.visually-hidden Menu toggle

block content
	article.demo
		section#start.demo__section.demo__section--banner(style='background-image: url("img/picture/demo/banner.jpg")')

			a.demo__anchor.anchor(href='#start')
				+icon('link-arrow')
			.demo__content
				.demo__main-title Cent<span>rix</span>
				.demo__subtitle Creative Agency & Portfolio <br> Multipurpose Theme
				+btn(false, 'View demos', '#demo', 'demo__btn anchor')
		section#demo.demo__section.demo__section--choose
			.container.container--size-large
				.demo__title Choose your demo
				.demo__subtitle.demo__subtitle--black Choose your perfect pre-built demo for <br> your website.
				.demo__row
					+demo-card('demo-1', 'demo-1', 'Agency Default', 'agency-default.html', 'demo__card')
					+demo-card('demo-2', 'demo-2', 'Agency Mono', 'agency-mono.html', 'demo__card')
					+demo-card('demo-3', 'demo-3', 'Agency Modern', 'agency-modern.html', 'demo__card')
					+demo-card('demo-4', 'demo-4', 'Agency Tooltip', 'tooltip-projects.html', 'demo__card')
					+demo-card('demo-5', 'demo-5', 'Agency Vertical', 'vertical-projects.html', 'demo__card')
					+demo-card('demo-6', 'demo-6', 'Home Vcard', 'vcard.html', 'demo__card')
					+demo-card('demo-7', 'demo-7', 'Agency Parallax', 'parallax-projects.html', 'demo__card')
					+demo-card('demo-8', 'demo-8', 'Creative Agency', 'creative-agency.html', 'demo__card')
					+demo-card('', '', '', '', 'demo-card--coming demo__card', true)
		section.demo__section.demo__section--projects
			.demo__bg
			.container.container--size-large
				.demo__title Projects
				.demo__row
					.demo__col
						img(src="img/picture/demo/project-1.jpg", alt="")
					.demo__col
						img(src="img/picture/demo/project-2.jpg", alt="")
					.demo__col
						img(src="img/picture/demo/project-3.jpg", alt="")
						img(src="img/picture/demo/project-4.jpg", alt="")
		section.demo__section.demo__section--blog
			.container.container--size-large
				.demo__title Practical blog pages
				.demo__row
					.demo__col
						img(src="img/picture/demo/blog-1.jpg", alt="")
					.demo__col
						img(src="img/picture/demo/blog-2.jpg", alt="")
					.demo__col
						img(src="img/picture/demo/blog-3.jpg", alt="")
					.demo__col
						img(src="img/picture/demo/blog-4.jpg", alt="")
