extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Portfolio tolltip';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 3.06; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 3; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let headerClasses = 'header--absolute';
	- let bodyModClass = 'webpage--bg-smoky';

block header
	include modules/header

block content
	include modules/tooltip

block footer
	include modules/footer
