extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Services';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 2.02; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 2; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- let headerClasses = 'header--absolute header--separator __js_fixed-header';
	//- let socialModClass = '';
	//- let navigationModClass = 'navigation--hover-white';
	//- let isLeftwardHeader = true;
	- let bodyModClass = '';

block header
	include modules/header

block content
	article.article.services
		.article__container.container.container--size-large
			.row
				header.article__header.col-12.col-lg-7.col-xl-6
					h1.article__title Our <br>services
					.article__text In the design process, they create both functional and beautiful things. The team possesses unique

				each item, index in SERVICES_CARDS
					- let addCl = item.addCl ? item.addCl : '';
					- let classes = addCl + ' ' + item.bootstrapCl;
					.services__item(class= classes, data-aos= index > 0 ? "fade-up" : "")
						a.service-preview(href= URLS.pages.serviceDetail)
							span.service-preview__image
								img(src="img/picture/services/" + item.image.url + ".jpg", width= item.image.w, height= item.image.h, alt= item.text)
							span.service-preview__caption!= item.text


block footer
	include modules/footer
