extends templates/main
block variables
	- let pageTitle = TITLE_PART + ' | Single Project';
	- let isHome = false; //- Если true то логотип не будет ссылкой
	- let currentPage = 2.01; // Для каждой страницы уникален. Номер смотреть в файле pug/templates/_vars.pug в массивах с пунктами меню
	- let currentSection = 2; // // Для каждой раздела уникален. Home -1, projects - 2, news - 3, pages - 4
	- headerClasses = 'header--separator';

block header
	include modules/header

block content
	article.single-project
		.container.single-project__container
			section.projects-listing
				h1.visually-hidden Projects

				ul.projects-listing__list
					li.projects-listing__item.project-card.row
						a.project-card__image.col-12.col-md-6(href='#')
							picture
								source(type="image/webp", srcset="img/picture/vertical-projects/1.webp 1x, img/picture/vertical-projects/1@2x.webp 2x")
								img(src="img/picture/vertical-projects/1.jpg", srcset="img/picture/vertical-projects/1@2x.jpg 2x", width="785", height="747", alt="project photo")
						.col-12.col-md-6.order-md-first
							.project-card__main
								.project-card__main-left
									h2.project-card__title Nike Sneakers Photo
								+arrow-link('', '#', 'project-card__more')
								.project-card__text Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula
									|  euripidis hinc partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at, vel
									|  pertinax sensibus id, error epicurei mea et. Mea facilisis urbanitas moderatius id. Vis ei rationibus definiebas.

			include modules/meta.pug

			section.services-section.single-project__services
				.row.services-section__main
					.col-12.col-xxl-3
						.services-section__text Alienum phaedrum torquatos nec eu, detr periculis ex, nihil expetendis in mei. Mei an pericula euripidis hinc
							|  partem ei est. Eos ei nisl graecis, vix aperiri consequat an. Eius lorem tincidunt vix at
					.col-12.col-xxl-9.services-section__right
						h2.services-section__title Services
						.services-section__image
							.services-section__menu
								ul.services-section__list
									li.services-section__item
										a.services-section__link(href='service-detail.html') Web development
										span
											+icon('link-arrow2')(width="24", height="23")
									li.services-section__item
										a.services-section__link(href='service-detail.html') Marketing
										span
											+icon('link-arrow2')(width="24", height="23")
									li.services-section__item
										a.services-section__link(href='service-detail.html') Graphic design
										span
											+icon('link-arrow2')(width="24", height="23")
									li.services-section__item
										a.services-section__link(href='service-detail.html') Photography
										span
											+icon('link-arrow2')(width="24", height="23")
							picture
								source(type="image/webp", srcset="img/picture/single-project/2.webp 1x, img/picture/single-project/2@2x.webp 2x")
								img(src="img/picture/single-project/2.jpg", srcset="img/picture/single-project/2@2x.jpg 2x", width="459", height="642", alt="")

			include modules/project-other.pug

			.single-project__next
				a(href='#', target='_blank') Next
					+icon('arrow-right')(width="104" height="86")



block footer
	include modules/footer
