.accordion {
	$self: &;

	&__header {
	}

	&__item {
		$item: &;
		border-top: solid 1px $color-default-white;

		&-header {
			position: relative;
			width: 100%;
			padding: 24px 0;
			text-align: left;
			border: none;
			background-color: transparent;
			cursor: pointer;

			&::before {
				content: "";

				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23fff' d='M13.5 0v25M25 12.5H0'/%3e%3c/svg%3e");
			}

			@include media(xl) {
				padding: 46px 0;
			}

			&--opened {
				&::before {
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 25 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23fff' d='M25 .922H.073'/%3e%3c/svg%3e");
				}
			}
		}

		&-title {
			margin-bottom: 8px;

			@include text(26px, 1.4, $color-default-white);
			font-weight: 500;

			@include media(md) {
				margin-bottom: 0;
			}
		}

		&-short {
			max-width: 560px;

			@include text(15px, 21 / 15, $color-default-white);

			@include media(xl) {
				padding-left: 54px;
			}
		}

		&-text {
			max-width: 505px;
			margin-top: 24px;

			@include text(15px, 21 / 15, $color-default-white);

			@include media(xl) {
				margin-top: 46px;
			}
		}

		&-body {
			display: none;

			padding-bottom: 24px;

			@include media(xl) {
				padding-bottom: 64px;
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}

		&-left {
			margin-bottom: 24px;

			@include media(md) {
				margin-bottom: 0;
			}
		}

		&-right {
			@include media(xl) {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				padding-left: 54px;
			}
		}
	}

	&--black {
		#{$self} {
			&__item {
				border-top: 0;
				border-bottom: solid 1px $color-default-black;

				&-title,
				&-short,
				&-text {
					color: $color-default-black;
				}

				&-title {
					font-family: $font-family--main;

					span {
						display: inline-block;
						width: 44px;
					}
				}

				&-text {
					max-width: 568px;
					margin-top: 0;

					@include media(lg) {
						padding-left: 50px;
					}
				}

				&-header {
					&::before {
						background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='-0.5' x2='12.0148' y2='-0.5' transform='matrix(-0.687305 0.726368 -0.687306 -0.726368 17 0.000488281)' stroke='black'/%3e%3cline y1='-0.5' x2='12.0148' y2='-0.5' transform='matrix(-0.687306 -0.726368 0.687305 -0.726368 9.25732 8.72729)' stroke='black'/%3e%3c/svg%3e");
					}

					&--opened {
						&::before {
							background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='10' viewBox='0 0 18 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline y1='-0.5' x2='12.0148' y2='-0.5' transform='matrix(0.687306 -0.726368 0.687306 0.726368 1 9.72729)' stroke='black'/%3e%3cline y1='-0.5' x2='12.0148' y2='-0.5' transform='matrix(0.687306 0.726368 -0.687306 0.726368 8.74268 1)' stroke='black'/%3e%3c/svg%3e");
						}
					}
				}

				&-body {
					padding-bottom: 48px;
				}
			}
		}
	}
}
