.arrow-btn {
	$self: &;

	display: block;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;

	svg {
		display: block;
		width: 100%;
		height: auto;
	}

	&--size-large {
		width: 75px;
		height: 75px;
	}
}
