.btn {
	//old
	min-width: 207px;
	display: inline-flex;
	align-items: center;
	padding: 16px 20px 15px 25px;

	border: none;
	background-color: $color-yellow;

	cursor: pointer;

	@include transition(background-color);

	&__text {
		@include text(15px, 18 / 15, $color-default-black);
		text-transform: uppercase;
		font-weight: 500;
	}

	&__icon {
		margin-left: auto;

		svg {
			display: block;
			fill: $color-default-black;
		}
	}

	@include media(md) {
		//padding: 17px 44px;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-yellow-hover;
		color: $color-default-black;
		box-shadow: none;
	}

	&:active {
		opacity: 0.7;
		box-shadow: none;
	}

	&--outline {
		background-color: transparent;
		color: $color-yellow;
		border-color: $color-yellow;
		transition: background-color $default-transition-settings,
			color $default-transition-settings;

		&:hover,
		&:focus {
			outline: none;
			background-color: $color-yellow;
			color: $color-default-white;
		}
	}
}
