.btn {
	$self: &;
	//old
	min-width: 207px;
	display: inline-flex;
	align-items: center;
	padding: 16px 20px 15px 25px;

	border: none;
	background-color: $color-yellow;

	cursor: pointer;

	@include transition(background-color);

	&:focus {
		outline: none;
	}

	@include hover {
		box-shadow: none;
		background-color: $color-default-black;

		#{$self}__text {
			color: $color-default-white;
		}

		#{$self}__icon {
			svg {
				fill: $color-default-white;
			}
		}
	}

	&:active {
		opacity: 0.7;
		box-shadow: none;
	}

	&__text {
		@include text(15px, 18 / 15, $color-default-black);
		text-transform: uppercase;
		font-weight: 500;

		@include transition(color);
	}

	&__icon {
		margin-left: auto;

		svg {
			display: block;
			fill: $color-default-black;
			@include transition(fill);
		}
	}

	&--outline {
		background-color: transparent;
		color: $color-yellow;
		border-color: $color-yellow;
		transition: background-color $default-transition-settings,
			color $default-transition-settings;
	}

	&--theme-black {
		border: 1px solid $color-default-black;
		background-color: $color-default-black;

		#{$self}__text {
			color: $color-default-white;
		}

		#{$self}__icon {
			svg {
				fill: $color-default-white;
			}
		}

		@include hover {
			background-color: transparent;

			#{$self}__text {
				color: $color-default-black;
			}

			#{$self}__icon {
				svg {
					fill: $color-default-black;
				}
			}
		}
	}

	&--black {
		background-color: $color-default-black;

		@include hover {
			background-color: rgba($color-default-black, 0.85);

			&__text {
				color: $color-default-white;
			}
		}

		#{$self} {
			&__text {
				color: $color-default-white;
			}

			&__icon {
				svg {
					fill: $color-default-white;
				}
			}
		}
	}

	&--hover-white {
		@include transition(all);

		@include hover {
			padding: 15px 19px 14px 24px;
			border: 1px solid $color-default-white;
			background-color: transparent;

			#{$self}__text {
				color: $color-default-white;
			}

			#{$self}__icon {
				svg {
					fill: $color-default-white;
				}
			}
		}
	}
}
