.carousel-section {
	$self: &;
	position: relative;
	padding: 80px 0;
	overflow: hidden;

	@include media(md) {
		padding: 120px 0;
	}

	@include media(xl) {
		padding: 184px 0 187px;
	}

	&--separator {
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: calc(100% - 24px);
			border-bottom: solid 1px $color-default-black;

			@include media(xxl) {
				width: calc(100% - 30px);
			}
		}
	}

	&--pb-large {
		@include media(xl) {
			padding-bottom: 242px;
		}
	}

	&__container {
	}

	&__header {
		margin-bottom: 50px;

		@include media(md) {
			margin-bottom: 90px;
		}
	}

	&__title {
		margin: 0 0 24px;

		@include text(48px, 1, $color-default-black);
		font-weight: 500;

		@include media(sm) {
			//font-size: 36px;
		}

		@include media(md) {
			margin: 0;
			/*max-width: 190px;
			margin-top: -105px;
			margin-bottom: 80px;*/
			//font-size: 48px;
		}

		@include media(lg) {
			//max-width: 700px;
			/*max-width: 280px;
			margin-top: -118px;*/
			font-size: 58px;
		}
	}

	&__nav {
		/*display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 40px;*/

		display: none;

		/*@include media(md) {
			margin-top: 0;
		}*/

		@include media(lg) {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@include media(xl) {
			position: relative;
			left: -82px;
		}

		.nav-btn + .nav-btn {
			margin-left: 48px;
		}
	}

	&__more {
		@include media(md) {
			position: relative;
			padding-right: 60px;

			.arrow-link__icon {
				position: absolute;
				right: 0;
				bottom: 8;
			}
		}

		@include media(lg) {
			padding-right: 95px;
		}
	}

	&__carousel {
	}
}
