.feature-card {
	$self: &;

	position: relative;
	display: block;

	img {
		max-width: 100%;
		height: auto;
	}

	&__caption {
		display: block;
		padding: 32px 45px 38px;

		@include text(26px, 34 / 26, $color-default-white);
		text-transform: uppercase;
		background-color: $color-default-black;

		br {
			display: none;
		}

		@include media(lg) {
			position: absolute;
			left: 0;
			bottom: 0;

			br {
				display: block;
			}
		}
	}
}
