.file-upload {
	$self: &;
	display: inline-block;
	vertical-align: top;
	min-width: 137px;

	&--theme-yellow {
		#{$self}__text {
			color: $color-yellow;
		}

		#{$self}__icon {
			svg {
				fill: $color-yellow;
			}
		}
	}

	&__label {
		display: flex;
		align-items: center;
		cursor: pointer;

		@include hover {
			#{$self}__icon svg {
				transform: scale(1.2);
			}
		}
	}

	&__icon {
		margin-right: 20px;

		svg {
			display: block;
			fill: $color-default-black;
			will-change: transform;
			@include transition(transform);
		}
	}

	&__text {
		@include text(15px, 31 / 15, $color-default-black);
		text-transform: uppercase;
	}
}
