.filter {
	$self: &;

	text-align: center;

	@include media(lg) {
		text-align: left;
	}

	&__item {
		position: relative;
		margin-right: 20px;
		padding: 0;
		font-family: $font-family--main;

		@include text(18px, 140%, $color-default-black);
		text-transform: capitalize;
		background-color: transparent;
		border: none;
		appearance: none;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			border-top: solid 1px $color-default-black;
			transform: scale(0, 1);

			@include transition(transform);
		}

		@include media(lg) {
			font-size: 20px;
		}

		@include media(xl) {
			margin-right: 50px;
		}

		&:last-child {
			margin-right: 0;
		}

		@include hover {
			outline: none;
			&::before {
				transform: scale(1, 1);
			}
		}

		&--active {
			&::before {
				transform: scale(1, 1);
			}
		}
	}
}
