.footer {
	$self: &;
	padding: 40px 0;
	background-color: $color-yellow;

	@include media(lg) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	&__container {
		@include media(xl) {
			max-width: $width--full;
		}
	}

	&__title {
		margin-bottom: 16px;

		@include text(20px, 28 / 20, $color-default-black);
		font-weight: 500;
	}

	&__menu {
		@include media(xl) {
			padding-left: vw(185);
		}
		@include media(full) {
			padding-left: 185px;
		}
		&-list {
			@include list-reset;
		}

		&-item {
			margin-top: 10px;

			&:first-child {
				margin-top: 0;
			}
		}

		&-link {
			@include text(15px, 21 / 15, $color-default-black);
			text-transform: uppercase;
		}
	}

	&__phone {
		padding-top: 40px;
		padding-bottom: 20px;

		@include media(sm) {
			padding-top: 0;
			padding-bottom: 0;
		}

		a {
			position: relative;
			@include text(28px, 34 / 28, $color-default-black);
			font-weight: 500;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: #000;
				transform: scale(0, 1);
				transform-origin: 0 50%;

				@include transition(transform);
			}

			@include hover {
				&::before {
					transform: scale(1, 1);
				}
			}

			@include media(sm) {
				display: inline-block;
				white-space: nowrap;
				transform: rotate(-90deg) translateX(-100%);
				transform-origin: 0 0;
			}

			@include media(xl) {
				//margin-left: 30px;
			}
		}
	}

	&__feedback {
		margin-bottom: 110px;

		@include media(sm) {
			margin-top: 50px;
		}

		@include media(lg) {
			margin-top: 0;
		}

		@include media(xl) {
			padding-left: vw(95);
		}

		@include media(full) {
			padding-left: 95px;
		}

		&-form {
			display: flex;
			align-items: flex-end;
			margin-bottom: 42px;
		}

		&-field {
			display: block;
			margin-right: 20px;
		}

		&-send {
			margin-bottom: 6px;
			flex-shrink: 0;
		}

		&-notice {
			@include text(15px, 21 / 15, $color-default-black);

			a {
				color: $color-default-black;
				text-decoration: underline;

				@include hover {
					text-decoration: none;
				}
			}
		}
	}

	&__copyright {
		//margin-bottom: 12px;

		//@include text(16px, 1.625, $color-default-black);

		@include media(md) {
			//margin-bottom: 0;
		}

		@include media(xl) {
			//font-size: 16px;
		}
	}

	&__logo {
		margin-bottom: 36px;

		@include media(sm) {
			margin-bottom: 0;
			transform: rotate(-90deg) translateX(-100%);
			transform-origin: 0 0;
		}

		@include media(lg) {
		}

		&-wrap {
			// то до удалить
			@include media(sm) {
				//background-image: linear-gradient(to right, red 12px, grey 12px);
			}
		}
	}

	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&::before {
			content: "";
			width: 100%;
			margin-bottom: 36px;
			border-top: solid 1px $color-default-black;
		}
	}

	&__copyright {
		margin-right: 12px;

		@include text(15px, 21 / 15, $color-default-black);
	}

	&__privacy {
		color: $color-default-black;
		text-decoration: none;

		@include hover {
			text-decoration: underline;
		}
	}
}
