.header {
	$self: &;

	position: relative;
	z-index: 2;
	padding: 20px 0;

	@include media(md) {
	}

	@include media(lg) {
		padding: 40px 0;
	}

	&--secondary {
		@include media(lg) {
			padding: 52px 0;
		}

		.mobile-canvas__nav {
			@include media(lg) {
				margin-right: vw(140);
			}
		}
		#{$self}__mobile {
			margin-left: auto;
			flex-grow: 0;

			@include media(lg) {
				.mobile-canvas__nav {
					left: 0;
				}
			}
		}
	}

	&--white {
		.logo {
			svg {
				fill: $color-default-white;
			}
		}

		.menu-toggle {
			&::before,
			&::after,
			&__line {
				border-top-color: $color-default-white;
			}

			&--opened {
				&::before,
				&::after,
				&__line {
					border-top-color: $color-default-black;
				}
			}
		}

		.social__link {
			svg {
				fill: $color-default-white;
			}

			@include hover {
				svg {
					fill: $color-yellow;
				}
			}
		}

		&#{$self}--separator {
			#{$self}__container {
				&::before {
					border-top: solid 1px $color-default-white;
				}
			}
		}

		@include media(lg) {
			.navigation__link {
				color: $color-default-white;

				@include hover {
					//color: $color-yellow;

					.navigation__link-icon {
						svg {
							fill: $color-default-white;
						}
					}
				}
			}

			.navigation__item--current .navigation__link {
				color: $color-default-white;

				.navigation__link-icon {
					svg {
						fill: $color-default-white;
					}
				}
			}
		}
	}

	&--separator {
		position: relative;

		#{$self}__container {
			//position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				border-top: solid 1px $color-default-black;

				@include media(sm) {
					max-width: 516px;
				}
				@include media(md) {
					max-width: 696px;
				}
				@include media(lg) {
					max-width: 936px;
				}
				@include media(xl) {
					max-width: 1116px;
				}
				@include media(xxl) {
					max-width: calc(100% - 160px);
				}

				@include media(full) {
					max-width: 1765px;
				}
			}
		}
	}

	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	&--leftward {
		@extend #{$self}--absolute;

		.navigation {
			width: 100%;

			left: 0 !important;

			&__dropdown {
				@include media(lg) {
					position: static;
					transform: translateY(0);
					display: none;

					min-width: 0;
					padding: 20px 0 0 20px;
					background-color: transparent;
					opacity: 1;
					pointer-events: auto;
				}

				&-item {
					&:first-child {
						margin-top: 0;
					}

					@include media(lg) {
						margin-top: 10px;
					}

					/*&--current {
						a {
							color: $color-yellow !important;

							#{$self}__dropdown-icon {
								svg {
									fill: $color-yellow !important;
								}
							}
						}
					}*/

					a {
						@include media(lg) {
							font-size: 13px;
							color: $color-default-black;
						}

						&:hover,
						&:focus {
							color: $color-yellow;

							#{$self}__dropdown-icon {
								svg {
									fill: $color-yellow !important;
								}
							}
						}
					}
				}
			}

			&__list {
				@include media(lg) {
					display: block;
				}
			}

			&__item {
				text-align: right;

				@include media(lg) {
					margin-right: 0;
					margin-bottom: 24px;

					@include media-custom-height(610px) {
						margin-bottom: 32px;
					}
				}
			}

			&__dropdown-item--current {
				a {
					color: $color-default-black !important;

					.navigation__dropdown-icon {
						svg {
							fill: $color-default-black !important;
						}
					}
				}
			}
			&__dropdown-item {
				a {
					position: relative;

					&::before {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: calc(100% - 22px);
						border-top: solid 1px $color-default-black;
						transform: scale(0, 1);

						@include transition(transform);
					}

					@include hover {
						color: $color-default-black;

						&::before {
							transform: scale(1, 1);
						}
					}
				}
			}

			&__link {
			}
		}

		#{$self}__panel #{$self}__social {
			display: none;

			@include media(lg) {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);

				display: flex;
				flex-direction: column;

				.social__item + .social__item {
					margin-left: 0;
					margin-top: 23px;
				}
			}
		}

		#{$self}__panel {
		}

		#{$self}__logo {
			margin-left: 20px;
			margin-right: 0;
		}

		#{$self}__menu {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			height: 100vh;

			transform: translateX(-100%);

			@include media(lg) {
				display: flex;
				align-items: center;
				padding-top: 40px;
				padding-bottom: 40px;
				transform: translateX(0);
			}

			&--opened {
				z-index: 1000;
				transform: translateX(0);
			}
		}

		#{$self}__menu-toggle {
			margin-left: 0;
			margin-right: auto;
		}

		@include media(lg) {
			position: fixed;
			bottom: 0;
			display: flex;
			width: 360px;
			height: 100vh;
			min-height: 240px;
			padding: 50px 0;
			transition: transform 0.3s ease;

			transform: translateX(-300px);

			&.shifted {
				transform: translateX(0);
			}

			#{$self}__container {
				padding-left: 0;
				padding-right: 0;
				align-items: stretch;
				display: flex;
			}

			#{$self}__panel {
				position: relative;
				flex-direction: column;
				justify-content: center;
				width: auto;
			}

			#{$self}__menu {
				position: static;
				margin-right: 26px;
				height: 100%;
			}

			#{$self}__menu-toggle {
				display: block;
				margin-right: 0;
				margin-bottom: 52px;
				z-index: 0;
			}

			#{$self}__logo {
				position: absolute;
				left: 0;
				top: 0;
				margin-left: 0;
				margin-right: 0;
				transform: rotate(-90deg) translateX(-100%) translateY(50%);
				transform-origin: 0 0;
			}
		}

		@include media(full) {
			//left: calc((100vw - 1920px) / 2);

			#{$self}__menu {
				position: relative;
				overflow: hidden;
				opacity: 0;
				transition: opacity 0.3s ease;

				/*&::before {
					content: "";
					position: fixed;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					background-color: $color-smoky;

					@include transition(transform);
				}*/
			}

			&.shifted {
				#{$self}__menu {
					opacity: 1;
					/*&::before {
						transform: translateX(-100%);
					}*/
				}
			}
		}
	}

	&--yellow {
		transition: background-color 0.3s ease, transform 0.3s ease;

		&.shifted {
			background-color: $color-default-black;
		}

		.logo {
			svg {
				fill: $color-yellow;
			}
		}

		.menu-toggle {
			&::before,
			&::after,
			&__line {
				border-top-color: $color-yellow;
			}

			@include hover {
				&::before,
				&::after,
				#{$self}__line {
					border-top-color: $color-yellow-hover;
				}
			}

			/*&--opened {
				&::before,
				&::after {
					border-top-color: $color-default-black;
				}
			}*/
		}

		.navigation {
			&__item--current {
				.navigation__link-icon {
					svg {
						fill: $color-yellow;
					}
				}
			}

			&__link {
				color: $color-yellow;

				@include hover {
					color: $color-yellow-hover;

					.navigation__link-icon {
						svg {
							fill: $color-yellow-hover;
						}
					}
				}
			}

			&__dropdown {
				&-item {
					&--current {
						a {
							color: $color-yellow !important;

							&::before {
								display: none;
							}

							.navigation__dropdown-icon {
								svg {
									fill: $color-yellow !important;
								}
							}
						}
					}

					a {
						color: $color-yellow;

						&::before {
							border-top-color: $color-yellow;
						}

						&:hover,
						&:focus {
							color: $color-yellow-hover;

							#{$self}__dropdown-icon {
								svg {
									fill: $color-yellow-hover !important;
								}
							}
						}
					}
				}
			}
		}

		#{$self}__panel {
			& > .social {
				.social__link {
					svg {
						fill: $color-yellow;
					}

					&:focus {
						svg {
							fill: $color-yellow-hover;
						}
					}

					@include hover {
						svg {
							fill: $color-yellow-hover;
						}
					}
				}
			}
		}

		#{$self}__menu {
			background-color: $color-default-black;

			@include media(lg) {
				background-color: transparent;
			}
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background-color: $color-default-black;
		border-top: none;
		border-bottom: none;
		transition: transform 0.5s ease;

		#{$self}__container {
			&::before {
				display: none;
			}
		}

		&.header--bg-white {
			background-color: $color-default-white;
		}

		.mobile-canvas__phone {
			@include media(lg) {
				color: $color-default-white;
			}

			@include hover {
				color: $color-yellow;
			}
		}

		padding-top: 20px;
		padding-bottom: 20px;

		@include media(lg) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}

	&--height {
		@include media(lg) {
			padding: 38px 0;
		}
	}

	&--centered {
		.navigation__list {
			@include media(lg) {
				padding-right: 55px;
			}
		}

		.navigation__item {
			@include media(lg) {
				margin-right: 22px;
			}
		}
	}

	&__container {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 20px;
		flex-shrink: 0;

		@include media(md) {
			//margin-right: 0;
		}

		@include media(xxl) {
			//margin-right: 11.71vw;
		}
	}

	&__mobile {
		@include media(lg) {
			//margin-left: auto;
			//margin-right: auto;

			flex-grow: 1;

			.mobile-canvas__nav {
				position: relative;
				left: 72px;
			}
		}
	}

	&__menu {
		display: flex;
		width: 85%;
		max-width: 300px;
		padding: 80px 24px 24px;
		background-color: $color-default-white;

		@include transition(transform);

		@include media(lg) {
			width: 300px;
			background-color: transparent;
		}
	}

	&__panel {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__social {
	}

	&__menu-toggle {
		position: relative;
		z-index: 1000;
		margin-left: auto;

		@include media(lg) {
			display: none;
		}
	}
}
