.header {
	$self: &;

	position: relative;
	z-index: 2;
	//background-color: $color-default-white;
	padding: 20px 0;

	@include media(md) {
	}

	@include media(lg) {
		padding: 40px 0;
	}

	&--absolute {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	&--secondary {
		@include media(lg) {
			padding: 52px 0;
		}

		.mobile-canvas__nav {
			@include media(lg) {
				margin-right: vw(140);
			}
		}
		#{$self}__mobile {
			margin-left: auto;
			flex-grow: 0;

			@include media(lg) {
				.mobile-canvas__nav {
					left: 0;
				}
			}
		}
	}

	&--white {
		.logo {
			svg {
				fill: $color-default-white;
			}
		}

		.menu-toggle {
			&::before,
			&::after {
				border-top-color: $color-default-white;
			}

			&--opened {
				&::before,
				&::after {
					border-top-color: $color-default-black;
				}
			}
		}

		&#{$self}--separator {
			#{$self}__container {
				&::before {
					border-top: solid 1px $color-default-white;
				}
			}
		}

		@include media(lg) {
			.navigation__link {
				color: $color-default-white;

				@include hover {
					color: $color-yellow;
				}
			}

			.navigation__item--current .navigation__link {
				color: $color-yellow;
			}
		}
	}

	&--bg-white {
		background-color: $color-default-white;
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background-color: $color-default-white;
		border-top: none;
		transition: transform 0.5s ease;

		.logo {
			padding: 5px 0 8px 10px;

			&::before,
			&::after {
				width: 30px;
			}

			&__large {
				font-size: 20px;
				color: $color-default-black;
			}

			&__small {
				font-size: 9px;
				color: $color-default-black;
			}
		}

		@include media(lg) {
			.social {
				&__link {
					svg {
						fill: $color-default-black;
					}

					&:focus {
						svg {
							fill: $color-yellow;
						}
					}

					@include hover {
						svg {
							fill: $color-yellow;
						}
					}
				}
			}
		}

		#{$self}__inner {
			padding-top: 15px;
			padding-bottom: 15px;

			@include media(xxl) {
				padding-top: 24px;
				padding-bottom: 24px;
			}
		}

		#{$self}__logo {
			@include media(lg) {
				margin-right: calc(11.71vw + 25px);
			}
		}

		.navigation {
			&__link {
				color: $color-default-black;

				&:hover,
				&:focus {
					color: $color-yellow;
				}
			}

			&__item {
				&--current {
					.navigation__link {
						color: $color-yellow !important;
					}
				}
			}

			&__dropdown {
				@include media(lg) {
					bottom: -24px;
				}
			}
		}

		.menu-toggle {
			&::before,
			&::after {
				border-top: solid 3px $color-default-black;
			}
		}
	}

	&--separator {
		#{$self}__container {
			//position: relative;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				max-width: $width--full - 24px;
				border-top: solid 1px $color-default-black;
			}
		}
	}

	&__container {
		display: flex;
		align-items: center;
		max-width: $width--full;
	}

	&__logo {
		margin-right: 20px;
		flex-shrink: 0;

		@include media(md) {
			//margin-right: 0;
		}

		@include media(xxl) {
			//margin-right: 11.71vw;
		}
	}

	&__mobile {
		@include media(lg) {
			//margin-left: auto;
			//margin-right: auto;

			flex-grow: 1;

			.mobile-canvas__nav {
				position: relative;
				left: 72px;
			}
		}
	}

	&__social {
	}

	&__menu-toggle {
		position: relative;
		z-index: 1000;
		margin-left: auto;

		@include media(lg) {
			display: none;
		}
	}
}
