.leftward-wrapper {
	position: relative;
	z-index: 1;
	background-color: $color-smoky;

	&__container {
		//position: relative;
		display: flex;
		align-items: flex-start;
		overflow: hidden;

		@include media(lg) {
			padding-left: 80px;
			padding-right: 55px;
		}

		@include media(xl) {
			padding-right: 80px;
		}
	}

	.start-project__conatainer {
		@include media(xxl) {
			max-width: 1320px;
		}
	}

	main {
		@include transition(transform);
	}
}
