.logo {
	$self: &;

	position: relative;
	z-index: 0;
	display: inline-block;
	vertical-align: top;

	svg {
		display: inline-block;
		vertical-align: top;
		display: block;
		fill: $color-dark-0a;
	}

	&[href]:hover,
	&[href]:focus {
		outline: none;
	}

	&--filled {
		padding: 32px 48px;
		background-color: $color-default-black;

		@include media(lg) {
			padding: 56px 72px;
		}

		svg {
			width: 180px;
			height: auto;
			fill: $color-default-white;

			@include media(lg) {
				width: 240px;
			}
		}
	}
}
