.mobile-canvas {
	$self: &;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 1000;
	width: 85%;
	max-width: 460px;
	height: 100vh;
	padding: 60px 60px 40px;
	background-color: $color-default-white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transform: translateX(100%);
	@include transition(transform);

	//opacity: 0;

	&--opened {
		transform: translateX(0);
		//opacity: 1;

		#{$self}__close {
			transform: translateX(100%);
		}
	}

	@include media(lg) {
		position: static;
		width: auto;
		height: auto;
		max-width: none;
		padding: 0;
		flex-direction: row;
		align-items: center;
		background-color: transparent;
		transform: translateX(0);
		transition: none;
	}

	&__nav {
		margin-bottom: 20px;

		@include media(lg) {
			margin: 0 auto;
		}
	}

	&__phone {
		margin-top: auto;

		@include text(26px, 31 / 26, $color-default-black);
		@include transition(color);

		@include media(lg) {
			margin-top: 0;
		}

		@include hover {
			outline: none;
			color: $color-yellow;
		}
	}

	&__close {
		display: none;

		@include media(lg) {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 60px;
			height: 60px;
			border: none;
			background-color: $color-default-white;
			cursor: pointer;

			@include transition(transform);

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;

				width: calc(100% - 16px);
				border-top: solid 3px $color-default-black;

				@include transition(border-color);
			}

			&::before {
				transform: translateY(-50%) translateX(-50%) rotate(45deg);
			}

			&::after {
				transform: translateY(-50%) translateX(-50%) rotate(-45deg);
			}
		}

		@include hover {
			&::before,
			&::after {
				border-top-color: $color-yellow;
			}
		}
	}
}
