.nav-btn {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;

	svg {
		display: block;
		fill: $color-default-black;

		@include transition(transform);
	}

	&:hover {
		svg {
			fill: lighten($color-default-black, 30%);
		}
	}

	&--next {
		&:hover {
			svg {
				transform: translateX(30%);
			}
		}
	}
	&--prev {
		&:hover {
			svg {
				transform: translateX(-30%);
			}
		}
	}
}
