.navigation {
	$self: &;

	&__dropdown {
		display: none;
		padding-top: 20px;
		padding-left: 20px;

		@include media(lg) {
			position: absolute;
			z-index: 1;
			left: -30px;
			bottom: -40px;
			transform: translateY(100%);
			display: block;

			min-width: 400px;
			padding: 30px;
			background-color: $color-default-black;
			opacity: 0;
			pointer-events: none;

			@include transition(opacity);

			&:hover {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&-list {
			@include list-reset;
		}

		&-item {
			margin-top: 10px;
			line-height: 1;

			&:first-child {
				margin-top: 0;
			}

			@include media(lg) {
				//@debug: 8px;
				margin-top: 16px;
			}

			&--current {
				a {
					color: $color-yellow !important;

					#{$self}__dropdown-icon {
						svg {
							fill: $color-yellow !important;
						}
					}
				}
			}

			a {
				position: relative;
				display: inline-block;
				vertical-align: top;
				padding-right: 22px;

				@include text(13px, 18 / 15, $color-default-black);
				text-transform: uppercase;

				@include transition(color);

				@include media(lg) {
					font-size: 15px;
					color: $color-default-white;
				}

				&:hover,
				&:focus {
					outline: none;
					color: $color-yellow;

					#{$self}__dropdown-icon {
						svg {
							fill: $color-yellow !important;
						}
					}
				}
			}
		}

		&-icon {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 13px;
			height: 13px;

			svg {
				display: block;
				fill: transparent;

				@include transition(fill);
				transition-delay: 0.3s;
			}
		}
	}

	&__list {
		@include list-reset;

		@include media(lg) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		position: relative;
		margin-bottom: 20px; //32px;

		@include media(md) {
			margin-bottom: 24px;

			@include media-custom-height(610px) {
				margin-bottom: 32px;
			}
		}

		@include media(lg) {
			margin-right: 40px;
			margin-bottom: 0;
		}

		@include media(xl) {
			//margin-right: 56px; //3.28vw;
		}

		&:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}

		&--current {
			#{$self}__link {
				color: $color-yellow;

				&-icon {
					svg {
						fill: $color-yellow;
					}
				}
			}
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		padding-right: 22px;

		@include text(15px, 18 / 15, $color-default-black);
		text-transform: uppercase;

		@include transition(color);

		@include media(md) {
			//font-size: 36px;
		}

		@include media(lg) {
		}

		&-icon {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 13px;
			height: 13px;

			svg {
				display: block;
				fill: transparent;

				@include transition(fill);
				transition-delay: 0.3s;
			}
		}

		@include hover {
			outline: none;
			color: $color-yellow;
			position: relative;

			#{$self}__link {
				&-icon {
					svg {
						fill: $color-yellow;
					}
				}
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				transform: translateY(100%);
				width: 100%;
				height: 70px;
			}

			& + #{$self}__dropdown {
				opacity: 1;
				pointer-events: auto;
			}
		}

		&:active {
			opacity: 0.7;
		}
	}
}
