.our-services {
	$self: &;
	padding-bottom: 80px;
	background-color: $color-default-black;

	@include media(xl) {
		padding-bottom: 215px;
	}

	&__container {
	}

	&__header {
		//display: flex;
		//flex-wrap: wrap;
		padding-top: 80px;
		padding-bottom: 80px;

		@include media(xl) {
			padding-top: 144px;
			padding-bottom: 80px;
		}

		&--large {
			border-top: solid 1px $color-default-white;

			@include media(xl) {
				padding-top: 165px;
				padding-bottom: 165px;
			}

			#{$self}__title {
				text-transform: uppercase;

				@include media(sm) {
					max-width: 230px;
					//margin: 0;
					font-size: 72px;
				}

				@include media(lg) {
					max-width: 430px;
					font-size: 90px;
				}
			}

			#{$self}__more {
				top: 0;
			}
		}
	}

	&__title {
		width: 100%;
		margin: 0 0 24px;

		@include text(52px, 1, $color-default-white);
		font-weight: 500;

		@include media(md) {
			margin: 0;
		}

		@include media(lg) {
			font-size: 58px;
		}
	}

	&__short {
		margin-bottom: 24px;
		//max-width: calc(100% - 80px);

		@include text(15px, 21 / 15, $color-default-white);

		@include media(md) {
			margin: 24px 0 0;
			font-size: 24px;
		}

		@include media(xl) {
			max-width: 693px;
			margin-left: auto;
			margin-top: 0;

			@include text(32px, 42 / 32, $color-default-white);
		}
	}

	&__more {
		display: inline-flex;
		margin-left: auto;

		&--negative-top {
			@include media(xl) {
				position: relative;
				top: -26px;
			}
		}
	}

	&__accordion {
	}
}
