.portfolio-section {
	&__container {
		max-width: $width--full;
		margin: 0 auto;
	}

	&__header {
	}

	&__grid {
		@include list-reset;
		display: flex;

		@include media(lg) {
			margin-left: -60px;
		}
	}

	&__item {
		//display: block;
		//width: 100%;
		margin-bottom: 45px;

		@include media(lg) {
			width: calc(33.33% - 60px);
			//margin-right: 60px;
			margin-left: 60px;

			&--two-thirds {
				width: calc(66.66% - 60px);
			}
		}
	}
}
