.team {
	&__row {
		@include media(lg) {
			margin-right: -20px;
			margin-left: -20px;
		}

		@include media(xl) {
			margin-right: -40px;
			margin-left: -40px;
		}
	}

	&__header {
		@include media(lg) {
			padding-right: 20px;
			padding-left: 20px;
		}

		@include media(xl) {
			padding-right: 40px;
			padding-left: 40px;
		}
	}

	&__item {
		margin-top: 30px;

		@include media(lg) {
			margin-top: 40px;
			padding-right: 20px;
			padding-left: 20px;
		}

		@include media(xl) {
			margin-top: 80px;
			padding-right: 40px;
			padding-left: 40px;
		}

		@include media(xxl) {
			margin-top: 116px;
		}

		img {
			@include media(full) {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.member-card {
			@include media(full) {
				width: 100%;
			}
		}

		&--first {
			margin-left: auto;

			@include media(lg) {
				margin-top: 16px;
			}

			@include media(xl) {
				padding-left: 52px;
			}

			img {
				@include media(full) {
					width: vw(474);
					height: vh(450);
				}
			}
		}

		&--2 {
			img {
				@include media(full) {
					width: vw(385);
					height: vh(553);
				}
			}
		}

		&--3 {
			img {
				@include media(full) {
					width: vw(355);
					height: vh(246);
				}
			}
		}

		&--4 {
			img {
				@include media(full) {
					width: vw(326);
					height: vh(553);
				}
			}
		}

		&--5 {
			img {
				@include media(full) {
					width: vw(355);
					height: vh(553);
				}
			}
		}

		&--6 {
			img {
				@include media(full) {
					width: vw(355);
					height: vh(285);
				}
			}
		}

		&--last {
			@include media(lg) {
				margin-left: 0;
			}

			@include media(xl) {
				margin-left: 8.3333333333%;
			}

			img {
				@include media(full) {
					width: vw(474);
					height: vh(455);
				}
			}
		}

		&--row {
			.member-card__info {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				@include media(xxl) {
					flex-direction: row;
					align-items: flex-end;
				}

				.member-card__title {
					margin: 0 0 8px;

					@include media(xxl) {
						margin: 0;
					}
				}

				.member-card__post {
					margin-right: 72px;
				}

				.member-card__social {
					margin: 48px 0 0;

					@include media(xxl) {
						margin: 0;
						padding-bottom: 8px;
					}
				}

				> * {
					margin: 0;
				}
			}
		}

		&--margin-negative {
			@include media(lg) {
				margin-top: 40px;
				margin-bottom: 0;
			}

			@include media(xl) {
				margin-top: -19vw;
				margin-bottom: -10px;
			}

			@include media(xxl) {
				margin-top: -134px;
				margin-bottom: -64px;
			}

			@include media(full) {
				margin-top: -434px;
				margin-bottom: -42px;
			}
		}

		&--left-shift {
			@include media(xl) {
				padding-left: vw(156);
			}

			@include media(full) {
				padding-left: 156px;
			}
		}

		&--left-small-shift {
			@include media(xl) {
				padding-left: vw(56);
			}

			@include media(full) {
				padding-left: 56px;
			}
		}
	}
}
