.vcard {
	position: relative;
	z-index: 0;
	padding: 160px 0 100px;
	//background-color: $color-default-black;

	@include media(xl) {
		padding: 263px 0 220px;
	}

	&__container {
	}

	&__header {
		margin-bottom: 100px;

		@include media(md) {
			margin-bottom: 160px;
		}

		@include media(lg) {
			margin-bottom: 200px;
		}

		@include media(lg) {
			margin-bottom: 240px;
		}
	}

	&__title {
		margin: 0 0 16px;

		@include fluid-font-size(42px, 110px, 320px, 576px, 42px);
		line-height: (133 / 140);
		color: $color-yellow;
		font-weight: 500;

		@include media(sm) {
			margin-bottom: 0;
			font-size: 110px;
		}

		@include media(lg) {
			font-size: 140px;
		}
	}

	&__post {
		margin-bottom: 16px;

		@include fluid-font-size(16px, 26px, 320px, 576px, 16px);
		color: $color-yellow;
		line-height: (36 / 26);

		@include media(sm) {
			font-size: 26px;
		}
	}

	&__great {
		margin-bottom: -1px;
		padding: 20px 0;

		@include text(15px, 30 / 22, $color-yellow);
		border-top: solid 1px $color-yellow;
		border-bottom: solid 1px $color-yellow;

		br {
			display: none;
		}

		@include media(sm) {
			padding: 35px 0;
			font-size: 22px;

			br {
				display: block;
			}
		}
	}

	&__skills {
		margin-top: 100px;
		margin-bottom: 100px;

		@include media(sm) {
			margin: 170px 0;
		}

		@include media(md) {
			margin-bottom: 200px;
		}

		@include media(xl) {
			margin-bottom: 240px;
		}
	}

	&__start-project {
		.start-project__title {
			color: $color-yellow;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;

		td {
			padding: 20px 0;
			vertical-align: top;

			@include text(15px, 30 / 22, $color-yellow);
			border-top: solid 1px $color-yellow;
			border-bottom: solid 1px $color-yellow;

			&:first-child {
				width: 54.4%;
				padding-right: 20px;
				//font-size: 45px; //18px;
				@include fluid-font-size(30px, 45px, 320px, 576px, 20px);
			}

			@include media(sm) {
				padding: 35px 0;
				font-size: 22px;

				&:first-child {
					padding-right: 35px;
					font-size: 45px;
				}
			}

			a {
				color: $color-yellow;

				@include transition(color);

				@include hover {
					color: $color-yellow-hover;
				}
			}
		}

		ul {
			@include list-reset;

			counter-reset: list;

			li {
				counter-increment: list;

				&::before {
					content: "0" counter(list) ". ";
				}
			}
		}
	}
}
