.vertical-logo {
	&__layer {
		//229
		//448
		padding: 48px 32px;

		@include media(lg) {
			padding: 72px 56px;
		}

		@include media(xl) {
			padding: 100px 82px 100px 88px;
		}

		&--black {
			background-color: $color-default-black;

			svg {
				fill: $color-default-white;
			}
		}

		&--yellow {
			position: absolute;
			top: 0;
			left: 0;
			background-color: $color-yellow;
			opacity: 0;

			svg {
				fill: $color-default-black;
			}
		}
	}
}
