.webpage {
	$self: &;
	background-color: $color-default-white;

	.animsition {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	&--parallax-dark {
		.parallax-projects {
			&__section {
				color: $color-default-black;
			}
		}
	}
}
