.webpage {
	$self: &;

	.animsition {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	&--parallax-dark {
		.parallax-projects {
			&__section {
				color: $color-default-black;
			}
		}
	}

	&--bg {
		&-white {
			background-color: $color-default-white;

			main,
			.leftward-wrapper {
				background-color: $color-default-white;
				box-shadow: 0 0 0 20px $color-default-white;
			}

			.carousel::before {
				background-color: $color-default-white;
			}
		}

		&-black {
			background-color: $color-default-black;

			main,
			.leftward-wrapper {
				background-color: $color-default-black;
				box-shadow: 0 0 0 20px $color-default-black;
			}

			.carousel::before {
				background-color: $color-default-black;
			}
		}

		&-grey {
			background-color: $color-grey-e5;

			main,
			.leftward-wrapper {
				background-color: $color-grey-e5;
				box-shadow: 0 0 0 20px $color-grey-e5;
			}

			.carousel::before {
				background-color: $color-grey-e5;
			}
		}
	}
	/*
	&::before {
		content: "";
		position: fixed;
		z-index: 3;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50px;
		background-color: rgba(red, 0.5);
	}*/
}
