-
	//- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
	let FONTS = [
		'Jost-Light',
		'Jost-Regular',
		'Jost-SemiBold',
		'Jost-Italic',
		'Cinzel-Regular'
	];

	let TITLE_PART = 'Centrix';

	let URLS = {
		intro: {
			default: '#'
		},

		home: {
			default: 'agency-default.html',
			mono: 'agency-mono.html',
			modern: 'agency-modern.html',
			creative: 'creative-agency.html'
		},

		pages: {
			about: 'about-us.html',
			services: 'services.html',
			serviceDetail: 'single-services.html',
			team: 'team.html',
			faq: 'faq.html',
			pricing: 'pricing.html',
			contact: 'contact.html',
			error404: '404-error.html',
			comingSoon: 'coming-soon.html',
			vcard: 'vcard.html'
		},

		projects: {//portfolio
			masonry: 'projects-masonry.html',
			carousel: 'projects-carousel.html',
			single: 'single-project.html',
			vertical: 'vertical-projects.html',
			tooltip: 'tolltip-projects.html',
			tooltip2: 'portfolio-tolltip.html',
			parallax: 'parallax-projects.html'
		},


		blog: {
			masonry: 'blog-masonry.html',
			grid: 'blog-grid.html',
			listing: 'blog-listing.html',
			post: 'single-post.html',
		},

		contact: 'contact.html'
	};

	let FOOTER_MENU_1 = [
		{text: 'Site Map', url: '#', currentPage: null, currentSection: null},
		{text: 'Terms & Conditions', url: '#', currentPage: null, currentSection: null},
		{text: 'Privacy Policy', url: '#', currentPage: null, currentSection: null},
		{text: 'Help', url: '#', currentPage: null, currentSection: null},
		{text: 'Affiliatep', url: '#', currentPage: null, currentSection: null}
	];

	let FOOTER_MENU_2 = [
		{text: 'Our Location', url: '#', currentPage: null, currentSection: null},
		{text: 'Career', url: '#', currentPage: null, currentSection: null},
		{text: 'About', url: URLS.pages.about, currentPage: 4.01, currentSection: 4},
		{text: 'Contact', url: URLS.pages.contact, currentPage: 4.02, currentSection: 4}
	];

	let PARTNERS_LOGO = [
		{name: '1', w: '117', h: '47', alt: 'behr handelsagentur'},
		{name: '2', w: '139', h: '68', alt: 'christopher willis'},
		{name: '3', w: '150', h: '45', alt: 'artchive crafts gallery'},
		{name: '4', w: '125', h: '32', alt: 'artchive crasfts gallery'}
	];

	let PAGES_LIST = [
		{
			name: 'Home',
			url: URLS.home.default,
			currentSection: 1, currentPage: 1.01,
			submenu: [
				{name: 'Agency default', url: URLS.home.default, currentSection: 1, currentPage: 1.01},
				{name: 'Agency mono', url: URLS.home.mono, currentSection: 1, currentPage: 1.02},
				{name: 'Agency modern', url: URLS.home.modern, currentSection: 1, currentPage: 1.03},
				{name: 'Creative agency', url: URLS.home.creative, currentSection: 1, currentPage: 1.04},
				{name: 'Vcard', url: URLS.pages.vcard, currentSection: 2, currentPage: 2.10},
				{name: 'Vertical projects', url: URLS.projects.vertical, currentSection: 3, currentPage: 3.04},
				{name: 'Tolltip projects', url: URLS.projects.tooltip, currentSection: 3, currentPage: 3.05},
				{name: 'Parallax projects', url: URLS.projects.parallax, currentSection: 3, currentPage: 3.07}
			]
		}, {
			name: 'Pages',
			url: URLS.pages.about,
			currentSection: 2, currentPage: 2.01,
			submenu: [
				{name: 'About us', url: URLS.pages.about, currentSection: 2, currentPage: 2.01,},
				{name: 'Services', url: URLS.pages.services, currentSection: 2, currentPage: 2.02,},
				{name: 'Service detail', url: URLS.pages.detail, currentSection: 2, currentPage: 2.03,},
				{name: 'Team', url: URLS.pages.team, currentSection: 2, currentPage: 2.04,},
				{name: 'Faq', url: URLS.pages.faq, currentSection: 2, currentPage: 2.05,},
				{name: 'Pricing', url: URLS.pages.pricing, currentSection: 2, currentPage: 2.06,},
				{name: 'Contact', url: URLS.pages.contact, currentSection: 2, currentPage: 2.07,},
				{name: '404', url: URLS.pages.error404, currentSection: 2, currentPage: 2.08,},
				{name: 'Coming soon', url: URLS.pages.comingSoon, currentSection: 2, currentPage: 2.09}
			]
		}, {
			name: 'Projects',
			url: URLS.projects.masonry,
			currentSection: 3, currentPage: 3.01,
			submenu: [
				{name: 'Masonry', url: URLS.projects.masonry, currentSection: 3, currentPage: 3.01},
				{name: 'Carousel', url: URLS.projects.carousel, currentSection: 3, currentPage: 3.02},
				{name: 'Tooltips', url: URLS.projects.tooltips, currentSection: 3, currentPage: 3.06},
				{name: 'Single project', url: URLS.projects.single, currentSection: 3, currentPage: 3.03},
			]
		}, {
			name: 'Blog',
			url: URLS.blog.masonry,
			currentSection: 4, currentPage: 4.01,
			submenu: [
				{name: 'Masonry', url: URLS.blog.masonry, currentSection: 4, currentPage: 4.01},
				{name: 'Grid', url: URLS.blog.grid, currentSection: 4, currentPage: 4.02},
				{name: 'Listing', url: URLS.blog.listing, currentSection: 4, currentPage: 4.03},
				{name: 'Single post', url: URLS.blog.post, currentSection: 4, currentPage: 4.04}
			]
		}, {
			name: 'Contact',
			url: URLS.contact,
			currentSection: 5, currentPage: 5.01
		}

	]
