-
	//- Массив с именами файлов шрифтов, которые подключаются для предзагрузки в теге head миксином fonts
	let FONTS = [
		'Jost-Light',
		'Jost-Regular',
		'Jost-SemiBold',
		'Jost-Italic',
		'Cinzel-Regular'
	];

	let TITLE_PART = 'Centrix';

	let URLS = {
		intro: {
			default: 'demo.html'
		},

		home: {
			default: 'agency-default.html',
			mono: 'agency-mono.html',
			modern: 'agency-modern.html',
			creative: 'creative-agency.html'
		},

		pages: {
			about: 'about-us.html',
			services: 'services.html',
			serviceDetail: 'service-detail.html',
			team: 'team.html',
			faq: 'faq.html',
			pricing: 'pricing.html',
			contact: 'contact.html',
			error404: '404-error.html',
			comingSoon: 'coming-soon.html',
			vcard: 'vcard.html'
		},

		projects: {//portfolio
			masonry: 'projects-masonry.html',
			carousel: 'projects-carousel.html',
			single: 'single-project.html',
			vertical: 'vertical-projects.html',
			tooltip: 'tooltip-projects.html',
			tooltip2: 'portfolio-tooltip.html',
			parallax: 'parallax-projects.html'
		},


		blog: {
			masonry: 'blog-masonry.html',
			grid: 'blog-grid.html',
			listing: 'blog-listing.html',
			post: 'single-post.html'
		},

		contact: 'contact.html'
	};

	let FOOTER_MENU_1 = [
		{name: 'Home', url: URLS.home.default, currentPage: 1.01, currentSection: 1},
		{name: 'Pages', url: URLS.pages.about, currentPage: 2.01, currentSection: 2},
		{name: 'Blog', url: URLS.blog.masonry, currentPage: 4.01, currentSection: 4},
		{name: 'Contact', url: URLS.contact, currentPage: 5.01, currentSection: 5},
		{name: 'Portfolio', url: URLS.projects.masonry, currentPage: 3.01, currentSection: 3}
	];

	let FOOTER_MENU_2 = [
		{name: 'Facebook', url: '#'},
		{name: 'Twitter', url: '#'},
		{name: 'Instagram', url: '#'},
		{name: 'LinkedIn', url: '#'}
	];

	let PARTNERS_LOGO = [
		{name: '1', w: '117', h: '47', alt: 'behr handelsagentur'},
		{name: '2', w: '139', h: '68', alt: 'christopher willis'},
		{name: '3', w: '150', h: '45', alt: 'artchive crafts gallery'},
		{name: '4', w: '125', h: '32', alt: 'artchive crasfts gallery'},
		{name: '5', w: '104', h: '38', alt: 'neuton interactive'},
		{name: '6', w: '134', h: '29', alt: 'francoins redblade'}
	];

	let MAIN_MENU = [
		{
			name: 'Home',
			url: URLS.home.default,
			currentSection: 1, currentPage: 1.01,
			submenu: [
				{name: 'Demo', url: URLS.intro.default, currentSection: 0, currentPage: 0},
				{name: 'Agency default', url: URLS.home.default, currentSection: 1, currentPage: 1.01},
				{name: 'Agency mono', url: URLS.home.mono, currentSection: 1, currentPage: 1.02},
				{name: 'Agency modern', url: URLS.home.modern, currentSection: 1, currentPage: 1.03},
				{name: 'Creative agency', url: URLS.home.creative, currentSection: 1, currentPage: 1.04},
				{name: 'Vcard', url: URLS.pages.vcard, currentSection: 1, currentPage: 1.08},
				{name: 'Vertical projects', url: URLS.projects.vertical, currentSection: 1, currentPage: 1.05},
				{name: 'Tolltip projects', url: URLS.projects.tooltip, currentSection: 1, currentPage: 1.06},
				{name: 'Parallax projects', url: URLS.projects.parallax, currentSection: 1, currentPage: 1.07}
			]
		}, {
			name: 'Pages',
			url: URLS.pages.about,
			currentSection: 2, currentPage: 2.01,
			submenu: [
				{name: 'About us', url: URLS.pages.about, currentSection: 2, currentPage: 2.01},
				{name: 'Services', url: URLS.pages.services, currentSection: 2, currentPage: 2.02},
				{name: 'Service detail', url: URLS.pages.serviceDetail, currentSection: 2, currentPage: 2.03},
				{name: 'Team', url: URLS.pages.team, currentSection: 2, currentPage: 2.04},
				{name: 'Faq', url: URLS.pages.faq, currentSection: 2, currentPage: 2.05},
				{name: 'Pricing', url: URLS.pages.pricing, currentSection: 2, currentPage: 2.06},
				{name: 'Contact', url: URLS.pages.contact, currentSection: 2, currentPage: 2.07},
				{name: '404', url: URLS.pages.error404, currentSection: 2, currentPage: 2.08},
				{name: 'Coming soon', url: URLS.pages.comingSoon, currentSection: 2, currentPage: 2.09}
			]
		}, {
			name: 'Projects',
			url: URLS.projects.masonry,
			currentSection: 3, currentPage: 3.01,
			submenu: [
				{name: 'Masonry', url: URLS.projects.masonry, currentSection: 3, currentPage: 3.01},
				{name: 'Carousel', url: URLS.projects.carousel, currentSection: 3, currentPage: 3.02},
				{name: 'Tooltips', url: URLS.projects.tooltip2, currentSection: 3, currentPage: 3.06},
				{name: 'Single project', url: URLS.projects.single, currentSection: 3, currentPage: 3.03}
			]
		}, {
			name: 'Blog',
			url: URLS.blog.masonry,
			currentSection: 4, currentPage: 4.01,
			submenu: [
				{name: 'Masonry', url: URLS.blog.masonry, currentSection: 4, currentPage: 4.01},
				{name: 'Grid', url: URLS.blog.grid, currentSection: 4, currentPage: 4.02},
				{name: 'Listing', url: URLS.blog.listing, currentSection: 4, currentPage: 4.03},
				{name: 'Single post', url: URLS.blog.post, currentSection: 4, currentPage: 4.04}
			]
		}, {
			name: 'Contact',
			url: URLS.contact,
			currentSection: 5, currentPage: 5.01
		}

	];

	let MARQUEE_WORDS = [
		{text: 'Kodak', url: URLS.projects.single, image: {'1x': 'img/picture/common/tooltip/kodak.jpg', '2x': 'img/picture/common/tooltip/kodak@2x.jpg', w:'404', h:'491'}},
		{text: 'Swiss typography', url: URLS.projects.single, image: {'1x': 'img/picture/common/tooltip/swiss-typography.jpg', '2x': 'img/picture/common/tooltip/swiss-typography.jpg', w:'662', h: '510'}},
		{text: 'Copenhghagen', url: URLS.projects.single, image:{'1x':'img/picture/common/tooltip/copenhghagen.jpg', '2x': 'img/picture/common/tooltip/copenhghagen.jpg', w:'334', h: '255'}},
		{text: 'Bottle', url: URLS.projects.single, image: {'1x':'img/picture/common/tooltip/bottle.jpg', '2x': 'img/picture/common/tooltip/bottle.jpg', w: '720', h: '548'}},
		{text: 'Exoape', url: URLS.projects.single, image: {'1x': 'img/picture/common/tooltip/exoape.jpg', '2x': 'img/picture/common/tooltip/exoape@2x.jpg', w: '719', h: '846'}}
	];

	let MEMBERS_CARDS = [
		{name: 'Sam Flex', post: 'Director', image: {url: '1', w: '385', h: '548'}},
		{name: 'Kate Larson', post: 'Manager', image: {url: '2', w: '355', h: '241'}},
		{name: 'Bobby Fish', post: 'Designer', image: {url: '3', w: '474', h: '450'}},
		{name: 'Amanda James', post: 'Programmer', image: {url: '4', w: '326', h: '548'}}
	];

	let MEMBERS_CARDS_2 = [
		{name: 'Bobby Fish', post: 'Designer', addCl: 'team__item--first', bootstrapCl: 'col-lg-5', image: {url: '3', w: '474', h: '450'}},
		{name: 'Sam Flex', post: 'Director', image: {url: '1', w: '385', h: '548'}},
		{name: 'Kate Larson', post: 'Manager', image: {url: '2', w: '355', h: '241'}},
		{name: 'Amanda James', post: 'Programmer', image: {url: '5', w: '326', h: '548'}},
		{name: 'Amanda James', post: 'Programmer', addCl: 'team__item--margin-negative',  bootstrapCl: 'offset-lg-4', image: {url: '4-1', w: '355', h: '548'}},
		{name: 'Amanda James', post: 'Programmer', addCl: 'team__item--left-shift', bootstrapCl: 'col-lg-6 align-self-lg-end', image: {url: '6', w: '355', h: '281'}},
		{name: 'Bobby Fish', post: 'Designer', addCl: 'team__item--left-small-shift', bootstrapCl: 'col-lg-5 offset-lg-1', image: {url: '7', w: '474', h: '450'}}
	];

	let SKILLS = [
		{text: 'Photoshop', percent: '80'},
		{text: 'WordPress', percent: '90'},
		{text: 'Figma', percent: '70'},
		{text: 'Illustrator', percent: '75'}
	];

	let VERTICAL_PROJECTS = [
		{title: '<span>Nike</span> <span>Sneakers</span> <span>Photo</span>', category: '', image: '1'},
		{title: '<span>Mate</span> <span>Bottle</span> <span>Branding</span>', category: 'Design', image: '2'},
		{title: '<span>Balanced</span> <span>Color</span> <span>Scheme</span>', category: 'Photography', image: '3'},
		{title: '<span>Sony</span> <span>Headphones</span>', category: 'Product design', image: '4'}
	];

	let PORTFOLIO_CARDS = [
		{title: 'Realistic building', cl: 'col-12 col-md-6 col-lg-4', image: {url: '1', w: '535', h: '1013'}},
		{title: 'Banana', cl: 'col-12 col-md-6 col-lg-4', image: {url: '2', w: '531', h: '417'}},
		{title: 'Abstract lists', cl: 'col-12 col-md-6 col-lg-4', image: {url: '3', w: '531', h: '417'}},
		{title: 'Green onion', cl2: '--two-thirds', cl: 'col-12 col-lg-8', image: {url: '4', w: '1122', h: '494'}},
		{title: 'Banana', cl: 'col-12 col-md-6 col-lg-4', image: {url: '5', w: '536', h: '417'}},
		{title: 'Abstract lists', cl: 'col-12 col-md-6 col-lg-4', image: {url: '6', w: '531', h: '417'}},
		{title: 'Realistic building', cl: 'col-12 col-md-6 col-lg-4', image: {url: '7', w: '533', h: '1013'}},
		{title: 'Green onion', cl2: '--two-thirds', cl: 'col-12 col-lg-8', image: {url: '8', w: '1125', h: '494'}}
	];

	let SERVICES_LIST = [
		'Web development',
		'Marketing',
		'Graphic design',
		'Photography',
		'Illustrations',
		'Product design'
	];

	let SERVICES_CARDS = [
		{text: 'Photography <br>& Illustration', addCl: 'services__item--first', bootstrapCl: 'col-12 col-sm-6 col-lg-5 col-xl-6', image: {url: '1', w: '810', h: '783'}},
		{text: 'Mobile <br>apps design', addCl: 'services__item--margin-negative', bootstrapCl: 'col-12 col-sm-6 col-lg-4', image: {url: '2', w: '410', h: '490'}},
		{text: 'Web development', addCl: 'services__item--left-shift', bootstrapCl: 'col-12 col-sm-6 col-lg-8', image: {url: '3', w: '616', h: '496'}},
		{text: 'Marketing', addCl: 'services__item--last', bootstrapCl: 'col-12 col-sm-6 col-lg-10 offset-lg-1', image: {url: '4', w: '1238', h: '527'}}
	];
