section.card-price
	.card-price__wrapper
		.card-price__plan Basic
		.card-price__price <sup>$</sup> 29 <span>/ mo</span>
		ul.card-price__list
			li.yellow Gathered day, years she'd upon, greater.
			li Kind cattle won't bearing.
			li own night two above.
