section.carousel-section.carousel-section--separator
	.carousel-section__container.container.container--size-large
		header.carousel-section__header.row.align-items-center
			h2.carousel-section__title.col-12.col-md-6(data-aos="fade-up") Our latest projects
			.carousel-section__nav.col-12.col-md-3.order-last.order-md-0(data-aos="fade-up")
				button.nav-btn.nav-btn--prev(data-target=".__js_carousel-latest-projects", type="button")
					+icon('long-arrow-left')(width="50", height="16")
				button.nav-btn.nav-btn--next(data-target=".__js_carousel-latest-projects", type="button")
					+icon('long-arrow-right')(width="50", height="16")

			.col-12.col-md-3.text-md-right.ml-auto(data-aos="fade-up")
				+arrow-link('View all', URLS.projects.masonry, 'carousel-section__more')

		.carousel-section__carousel.carousel.carousel--slide-auto.swiper-container.__js_carousel-latest-projects(data-aos="fade-up")
			.swiper-wrapper
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					span.project-preview__image
						img(src="img/picture/carousel/4.jpg", width="720", height="548", alt="water bottle")
					span.project-preview__bottom
						span.project-preview__title Water bottle
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					span.project-preview__image
						img(src="img/picture/carousel/5.jpg", width="334", height="255", alt="Copenhagen")
					span.project-preview__bottom
						span.project-preview__title Copenhagen
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					span.project-preview__image
						img(src="img/picture/carousel/6.jpg", width="404", height="491", alt="Kodak")
					span.project-preview__bottom
						span.project-preview__title Kodak
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					span.project-preview__image
						img(src="img/picture/carousel/7.jpg", width="433", height="321", alt="Exoape")
					span.project-preview__bottom
						span.project-preview__title Exoape
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
