section.carousel-section
	.carousel-section__container.container.container--size-large
		header.carousel-section__header.row
			h2.carousel-section__title.col-8.col-md-6(data-aos="fade-up") Latest news
			.carousel-section__nav.col-12.col-md-3.order-last.order-md-0(data-aos="fade-up")
				button.nav-btn.nav-btn--prev(data-target=".__js_carousel-latest-news", type="button")
					+icon('long-arrow-left')(width="50", height="16")
				button.nav-btn.nav-btn--next(data-target=".__js_carousel-latest-news", type="button")
					+icon('long-arrow-right')(width="50", height="16")

			.col-4.col-md-3.align-self-md-center.ml-auto.text-right(data-aos="fade-up")
				+arrow-link('View all', URLS.blog.masonry, 'carousel-section__more')

		.carousel-section__carousel.carousel.carousel--slide-auto.swiper-container.__js_carousel-latest-news(data-aos="fade-up")
			.swiper-wrapper
				a.carousel__item.carousel-card.carousel-card--greyscale.swiper-slide(href= URLS.blog.post)
					img(src="img/picture/carousel/12.jpg", width="662", height="510", alt="")
					span.carousel-card__bottom
						span.carousel-card__title A few words about us
						span.carousel-card__icon
							+icon('link-arrow')(width="29", height="29")
				a.carousel__item.carousel-card.carousel-card--greyscale.swiper-slide(href= URLS.blog.post)
					img(src="img/picture/carousel/13.jpg", width="662", height="510", alt="")
					span.carousel-card__bottom
						span.carousel-card__title A few words about us
						span.carousel-card__icon
							+icon('link-arrow')(width="29", height="29")
				a.carousel__item.carousel-card.carousel-card--greyscale.swiper-slide(href= URLS.blog.post)
					img(src="img/picture/carousel/14.jpg", width="662", height="510", alt="A few words about us")
					span.carousel-card__bottom
						span.carousel-card__title A few words about us
						span.carousel-card__icon
							+icon('link-arrow')(width="29", height="29")
