section.carousel-section
	.carousel-section__container.container-fluid
		header.carousel-section__header.row
			h2.carousel-section__title.col-8.col-md-6 Latest news
			.carousel-section__nav.col-12.col-md-3.order-last.order-md-0
				button.nav-btn.nav-btn--prev.__js_navbtn-latest-news(type="button")
					+icon('long-arrow-left')(width="50", height="16")
				button.nav-btn.nav-btn--next.__js_navbtn-latest-news(type="button")
					+icon('long-arrow-right')(width="50", height="16")

			.col-4.col-md-3.align-self-md-start.text-right
				+arrow-link('View all', URLS.blog.masonry, 'carousel-section__more')

		.carousel-section__carousel.carousel.carousel--slide-auto.swiper-container.__js_carousel-latest-projects
			.swiper-wrapper
				a.carousel__item.carousel-card.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/1.webp 1x, img/picture/carousel/1@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/1.jpg", srcset="img/picture/carousel/1@2x.jpg 2x", width="662", height="510", alt="Desk Issue 0.1")
					span.carousel-card__bottom
						span.carousel-card__title Desk Issue 0.1
						span.carousel-card__icon
							+icon('link-arrow')(width="29", height="29")
				a.carousel__item.carousel-card.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/2.webp 1x, img/picture/carousel/2@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/2.jpg", srcset="img/picture/carousel/2@2x.jpg 2x", width="662", height="510", alt="Desk Issue 0.1")
					span.carousel-card__bottom
						span.carousel-card__title Desk Issue 0.1
						span.carousel-card__icon
							+icon('link-arrow')(width="29", height="29")
				a.carousel__item.carousel-card.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/3.webp 1x, img/picture/carousel/3@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/3.jpg", srcset="img/picture/carousel/3@2x.jpg 2x", width="662", height="510", alt="Desk Issue 0.1")
					span.carousel-card__bottom
						span.carousel-card__title Desk Issue 0.1
						span.carousel-card__icon
							+icon('link-arrow')(width="29", height="29")
