section.carousel-section.carousel-section--separator
	.carousel-section__container.container-fluid
		header.carousel-section__header.row.align-items-end.align-items-md-center
			h2.carousel-section__title.col-8.col-md-6 Our latest projects
			.carousel-section__nav.col-12.col-md-3.order-last.order-md-0
				button.nav-btn.nav-btn--prev.__js_navbtn-latest-projects(type="button")
					+icon('long-arrow-left')(width="50", height="16")
				button.nav-btn.nav-btn--next.__js_navbtn-latest-projects(type="button")
					+icon('long-arrow-right')(width="50", height="16")

			.col-4.col-md-3.align-self-md-start.text-right
				+arrow-link('View all', URLS.projects.masonry, 'carousel-section__more')

		.carousel-section__carousel.carousel.carousel--slide-auto.swiper-container.__js_carousel-latest-projects
			.swiper-wrapper
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/4.webp 1x, img/picture/carousel/4@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/4.jpg", srcset="img/picture/carousel/4@2x.jpg 2x", width="720", height="548", alt="water bottle")
					span.project-preview__bottom
						span.project-preview__title Water bottle
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/5.webp 1x, img/picture/carousel/5@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/5.jpg", srcset="img/picture/carousel/5@2x.jpg 2x", width="334", height="255", alt="Copenhagen")
					span.project-preview__bottom
						span.project-preview__title Copenhagen
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/6.webp 1x, img/picture/carousel/6@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/6.jpg", srcset="img/picture/carousel/6@2x.jpg 2x", width="404", height="491", alt="Kodak")
					span.project-preview__bottom
						span.project-preview__title Kodak
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
				a.carousel__item.project-preview.swiper-slide(href= URLS.projects.single)
					picture
						source(type="image/webp" srcset="img/picture/carousel/7.webp 1x, img/picture/carousel/7@2x.webp 2x")
						// 1х: 662px; 2x: 1324px
						img(src="img/picture/carousel/7.jpg", srcset="img/picture/carousel/7@2x.jpg 2x", width="433", height="321", alt="Exoape")
					span.project-preview__bottom
						span.project-preview__title Exoape
						span.project-preview__icon
							+icon('link-arrow2')(width="24" height="23")
