section.contact-section
	.contact-section__container.container.container--size-large
		.row
			.contact-section__main.col-12.col-lg
				h2.contact-section__title(data-aos="fade-up") Contact
				address.contact-section__address(data-aos="fade-up") 269 King Str, 05th Floor, Utral Hosue Building, Melbourne, VIC 3000, Australia.

				.contact-section__link(data-aos="fade-up")
					a(href="tel:+34255216021") +3 (425) 521 60 21
				.contact-section__link(data-aos="fade-up")
					a(href="mailto:info@centrix.com") info@centrix.com

				ul.contact-section__social(data-aos="fade-up")
					each item in FOOTER_MENU_2
						li
							a(href= item.url)= item.name
			.contact-section__aside.col-12.col-lg(data-aos="fade-up")
				.contact-section__form-wrapper
					form(action="#", method="post")
						label.contact-section__field.field.field--theme-white(data-aos="fade-up")
							input(type="text", name="name")
							span.field__hint Name
						label.contact-section__field.field.field--theme-white(data-aos="fade-up")
							input(type="email", name="email")
							span.field__hint Email
						label.contact-section__field.contact-section__field--textarea.field.field--theme-white(data-aos="fade-up")
							textarea(name="message", required)
							span.field__hint Message
						+btn(true, 'Submit', '', 'btn--hover-white contact-section__send')(type="submit", data-aos="fade-up")
