section.contact-section
	.contact-section__container.container-fluid
		.row
			.contact-section__main.col-12.col-md
				h2.contact-section__title Contact
				address.contact-section__address 269 King Str, 05th Floor, Utral Hosue Building, Melbourne, VIC 3000, Australia.

				.contact-section__link
					a(href="tel:+34255216021") +3 (425) 521 60 21
				.contact-section__link
					a(href="mailto:info@centrix.com") info@centrix.com

				ul.contact-section__social
					each item in FOOTER_MENU_2
						li
							a(href= item.url)= item.name
			.contact-section__aside.col-12.col-md
				.contact-section__form-wrapper
					form(action="#", method="post")
						label.contact-section__field.field.field--theme-white
							input(type="text", name="name")
							span.field__hint Name
						label.contact-section__field.field.field--theme-white
							input(type="email", name="email")
							span.field__hint Email
						label.contact-section__field.contact-section__field--textarea.field.field--theme-white
							textarea(name="message", required)
							span.field__hint Message
						+btn(true, 'Submit', '', 'contact-section__send')(type="submit")
