section.creative-hero
	.creative-hero__container

		.creative-hero__main
			h1.creative-hero__title Undertake projects of&nbsp;any complexity
			+btn(false, 'Join now', url = '#', cl = 'creative-hero__btn')
		.creative-hero__image
			img(src="img/picture/creative/hero.jpg", width="1100", height="980", alt="")
