section.creative-hero
	.creative-hero__container.container-fluid

		.creative-hero__main
			h1.creative-hero__title Undertake projects of&nbsp;any complexity
			+btn(false, 'Join now', url = '#', cl = 'creative-hero__btn')
		.creative-hero__image
			picture
				source(type="image/webp", srcset="img/picture/creative/hero.webp 1x, img/picture/creative/hero@2x.webp 2x")
				img(src="img/picture/creative/hero.jpg", srcset="img/picture/creative/hero@2x.jpg 2x", width="1100", height="980", alt="")
