header.header.header--absolute
	.header__container.container-fluid
		a.header__logo.logo
			+icon('logo')(width="76" height="19")
		.header__mobile.mobile-canvas
			nav.mobile-canvas__nav.navigation
				include menu
			a.mobile-canvas__phone(href="tel:+34255216021") + 3 (425) 521 60 21
		button.header__menu-toggle.menu-toggle(type="button")
			span.visually-hidden Menu toggle
