section.hero
	.hero__bg.__js_parallax
		img(src="img/picture/home/hero.jpg", width="1920", height="1080", alt="")
	.hero__container.container.container--size-large
		header.hero__header
			.container.container--size-large
				h1.hero__title
					| Unique Design in step
					span with the times
				+arrow-link('About us', URLS.pages.about, 'hero__more')
		.hero__content
			.hero__vertical.vertical-logo
				.vertical-logo__layer.vertical-logo__layer--yellow
					+icon('vertical-logo')(width="59", height="242")
				.vertical-logo__layer.vertical-logo__layer--black
					+icon('vertical-logo')(width="59", height="242")
