section.hero(style="background-image: url('img/picture/home/hero.jpg')")
	.hero__container.container-fluid
		header.hero__header
			h1.hero__title
				| Unique Design in step
				span with the times
			+arrow-link('About us', URLS.pages.about, 'hero__more')
		.hero__content
			.hero__logo-wrap
				.hero__logo.logo.logo--filled
					+icon('logo')(width="240", height="57")
			.hero__text Taking growth channels to, consequently, create a better customer experience. Create custom solutions with a goal to innovate. Grow user engagement but increase viewability. Utilising custom solutions with the aim to surprise and delight.
