section.main-screen(style="background-image: url('img/picture/mono/hero.jpg');")
	.main-screen__container.container-fluid
		h1.main-screen__title
			span Nobody
			| doesn't look advertising

		.main-screen__text People watch what they're interested in. And only sometimes it's advertising.
		+btn(false, 'Learn more', '', 'main-screen__btn')
