section.meta
	.row
		.col-12.col-lg-4(data-aos="fade-up")
			.meta__image
				img(src='img/picture/single-project/1.jpg', srcset='img/picture/single-project/1@2x.jpg 2x', alt='')
		.col-12.col-lg-8
			.meta__info
				.meta__info-item(data-aos="fade-up")
					span <span class="num">01.</span> Date
					span 15 January, 2021
				.meta__info-item(data-aos="fade-up")
					span <span class="num">02.</span> Designer
					span Paul
				.meta__info-item(data-aos="fade-up")
					span <span class="num">03.</span> Client
					span Themeforest
				.meta__info-item(data-aos="fade-up")
					span <span class="num">04.</span> Project type
					span Photography design
