section.modern-hero
	.modern-hero__container.container-fluid
		.row.g-0
			header.modern-hero__header.col-6.col-md-9.order-last.align-self-end
				h1.modern-hero__title
					span Design
					span & Engine
					span —Erigng
			.modern-hero__content.col-6.col-md-3
				a.modern-hero__btn.round-button.round-button--mobile-small(href="#")
					span.round-button__circle
						+icon('circle-text')(width="251", height="251")
					span.round-button__c
						+icon('c')(width="67", height="61")
				+arrow-link('About us', URLS.pages.about, 'modern-hero__more')
