section.our-services
	.our-services__container.container.container--size-large
		header.our-services__header
			.row.align-items-baseline
				.col-12.col-md-6.col-lg-5(data-aos="fade-up")
					h2.our-services__title Our services
				.col-12.col-md-auto.col-xl-2.ml-auto.text-md-right(data-aos="fade-up")
					+arrow-link('View all', URLS.pages.services, 'our-services__more arrow-link--white')

		.our-services__accordion.accordion
			.accordion__item(data-aos="fade-up")
				button.accordion__item-header(type="button")
					span.row.align-items-md-center
						span.accordion__item-title.col-11.col-md-6 Design
						span.accordion__item-short.col-11.col-md-5 Our intelligent digital strategy and a pragmatic and thoughtful approach to solving business calls deliver a successful framework for both you and your audience.
				.accordion__item-body
					.row
						.accordion__item-left.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-large.webp 1x, img/picture/mono/accordion-large@2x.webp 2x")
								// 1х: 810px; 2x: 1620px
								img(src="img/picture/mono/accordion-large.jpg", srcset="img/picture/mono/accordion-large@2x.jpg 2x", width="810", height="530", alt="Concept")
						.accordion__item-right.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-small.webp 1x, img/picture/mono/accordion-small@2x.webp 2x")
								// 1х: 348px; 2x: 696px
								img(src="img/picture/mono/accordion-small.jpg", srcset="img/picture/mono/accordion-small@2x.jpg 2x", width="348", height="287", alt="Concept")

							.accordion__item-text In the design process, they create both functional and beautiful things. The team possesses unique individuality and strong qualifications and can easily translate something so abstract and visionary into a digital experience. They always put the clients first no matter how complicated the tasks are.

			.accordion__item(data-aos="fade-up")
				button.accordion__item-header(type="button")
					span.row.align-items-md-center
						span.accordion__item-title.col-11.col-md-6 Development
						span.accordion__item-short.col-11.col-md-5 We make our customers ' products valuable in the eyes of customers. To do this, we analyze and study people, build long-term strategies for interacting with them, develop creative ideas and create a bright design.
				.accordion__item-body
					.row
						.accordion__item-left.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-large.webp 1x, img/picture/mono/accordion-large@2x.webp 2x")
								// 1х: 810px; 2x: 1620px
								img(src="img/picture/mono/accordion-large.jpg", srcset="img/picture/mono/accordion-large@2x.jpg 2x", width="810", height="530", alt="Concept")
						.accordion__item-right.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-small.webp 1x, img/picture/mono/accordion-small@2x.webp 2x")
								// 1х: 348px; 2x: 696px
								img(src="img/picture/mono/accordion-small.jpg", srcset="img/picture/mono/accordion-small@2x.jpg 2x", width="348", height="287", alt="Concept")

							.accordion__item-text In the design process, they create both functional and beautiful things. The team possesses unique individuality and strong qualifications and can easily translate something so abstract and visionary into a digital experience. They always put the clients first no matter how complicated the tasks are.

			.accordion__item(data-aos="fade-up")
				button.accordion__item-header(type="button")
					span.row.align-items-md-center
						span.accordion__item-title.col-11.col-md-6 Graphic
						span.accordion__item-short.col-11.col-md-5 Our intelligent digital strategy and a pragmatic and thoughtful approach to solving business calls deliver a successful framework for both you and your audience.
				.accordion__item-body
					.row
						.accordion__item-left.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-large.webp 1x, img/picture/mono/accordion-large@2x.webp 2x")
								// 1х: 810px; 2x: 1620px
								img(src="img/picture/mono/accordion-large.jpg", srcset="img/picture/mono/accordion-large@2x.jpg 2x", width="810", height="530", alt="Concept")
						.accordion__item-right.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-small.webp 1x, img/picture/mono/accordion-small@2x.webp 2x")
								// 1х: 348px; 2x: 696px
								img(src="img/picture/mono/accordion-small.jpg", srcset="img/picture/mono/accordion-small@2x.jpg 2x", width="348", height="287", alt="Concept")

							.accordion__item-text In the design process, they create both functional and beautiful things. The team possesses unique individuality and strong qualifications and can easily translate something so abstract and visionary into a digital experience. They always put the clients first no matter how complicated the tasks are.

			.accordion__item(data-aos="fade-up")
				button.accordion__item-header(type="button")
					span.row.align-items-md-center
						span.accordion__item-title.col-11.col-md-6 Wordpress
						span.accordion__item-short.col-11.col-md-5 Our intelligent digital strategy and a pragmatic and thoughtful approach to solving business calls deliver a successful framework for both you and your audience.
				.accordion__item-body
					.row
						.accordion__item-left.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-large.webp 1x, img/picture/mono/accordion-large@2x.webp 2x")
								// 1х: 810px; 2x: 1620px
								img(src="img/picture/mono/accordion-large.jpg", srcset="img/picture/mono/accordion-large@2x.jpg 2x", width="810", height="530", alt="Concept")
						.accordion__item-right.col-12.col-md-6
							picture
								source(type="image/webp" srcset="img/picture/mono/accordion-small.webp 1x, img/picture/mono/accordion-small@2x.webp 2x")
								// 1х: 348px; 2x: 696px
								img(src="img/picture/mono/accordion-small.jpg", srcset="img/picture/mono/accordion-small@2x.jpg 2x", width="348", height="287", alt="Concept")

							.accordion__item-text In the design process, they create both functional and beautiful things. The team possesses unique individuality and strong qualifications and can easily translate something so abstract and visionary into a digital experience. They always put the clients first no matter how complicated the tasks are.
