section.plans-section
	.plans-section__container.container-fluid
		.row
			.plans-section__item.card-price.col-12.col-sm-6.col-lg-4
				.card-price__wrapper
					.card-price__plan Basic
					.card-price__price <sup>$</sup> 29 <span>/ mo</span>
					ul.card-price__list
						li.yellow Gathered day, years she'd upon, greater.
						li Kind cattle won't bearing.
						li own night two above.
			.plans-section__item.card-price.card-price--gradient.col-12.col-sm-6.col-lg-4
				.card-price__wrapper
					.card-price__plan Standard
					.card-price__price <sup>$</sup> 39 <span>/ mo</span>
					ul.card-price__list
						li.yellow Gathered day, years she'd upon, greater.
						li.yellow Kind cattle won't bearing.
						li own night two above.
					+btn(false, 'join now', '#', 'btn--outline card-price__btn card-price__btn--outline')
			.plans-section__item.card-price.col-12.col-sm-6.col-lg-4
				.card-price__wrapper
					.card-price__plan Advanced
					.card-price__price <sup>$</sup> 49 <span>/ mo</span>
					ul.card-price__list
						li.yellow Gathered day, years she'd upon, greater.
						li.yellow Kind cattle won't bearing.
						li.yellow own night two above.
					+btn(false, 'join now', '#', 'card-price__btn')
