section.plans-section
	.plans-section__container.container-fluid
		.row
			.plans-section__item.card-price.col-12.col-sm-6.col-lg-4(data-aos="fade-up")
				.card-price__wrapper
					.card-price__plan(data-aos="fade-up") Basic
					.card-price__price(data-aos="fade-up") <sup>$</sup> 29 <span>/ mo</span>
					ul.card-price__list
						li.yellow(data-aos="fade-up") Gathered day, years she'd upon, greater.
						li(data-aos="fade-up") Kind cattle won't bearing.
						li(data-aos="fade-up") own night two above.
					+btn(false, 'join now', '#', 'card-price__btn')(data-aos="fade-up")
			.plans-section__item.card-price.card-price--gradient.col-12.col-sm-6.col-lg-4(data-aos="fade-up")
				.card-price__wrapper
					.card-price__plan(data-aos="fade-up") Standard
					.card-price__price(data-aos="fade-up") <sup>$</sup> 39 <span>/ mo</span>
					ul.card-price__list
						li.yellow(data-aos="fade-up") Gathered day, years she'd upon, greater.
						li.yellow(data-aos="fade-up") Kind cattle won't bearing.
						li(data-aos="fade-up") own night two above.
					+btn(false, 'join now', '#', 'btn--outline card-price__btn card-price__btn--outline')(data-aos="fade-up")
			.plans-section__item.card-price.col-12.col-sm-6.col-lg-4(data-aos="fade-up")
				.card-price__wrapper
					.card-price__plan(data-aos="fade-up") Advanced
					.card-price__price(data-aos="fade-up") <sup>$</sup> 49 <span>/ mo</span>
					ul.card-price__list
						li.yellow(data-aos="fade-up") Gathered day, years she'd upon, greater.
						li.yellow(data-aos="fade-up") Kind cattle won't bearing.
						li.yellow(data-aos="fade-up") own night two above.
					+btn(false, 'join now', '#', 'card-price__btn')(data-aos="fade-up")
