section.portfolio-section
	.portfolio-section__container.container.container--size-large

		h1.visually-hidden Projects masonry

		ul.portfolio-section__grid.__js_portfolio-section-masonry
			each item in PORTFOLIO_CARDS
				- let cl2 = item.cl2 ? ' portfolio-section__item' + item.cl2: '';
				- let cardCl = item.cardCl ? item.cardCl : '';

				li.portfolio-section__item.__js_masonry-item(class= cl2)
					a.project-preview.project-preview--elastic(class="project-preview" + cardCl, href= URLS.projects.single)
						span.project-preview__image
							if item.image.isMobile
								img(src="img/picture/common/portfolio-section/" + item.image.url + "-mobile.jpg",  alt= item.title)
							else
								img(src="img/picture/common/portfolio-section/" + item.image.url + ".jpg", width= item.image.w, height= item.image.h, alt= item.title)
						span.project-preview__bottom
							span.project-preview__title(title= item.title)= item.title
							span.project-preview__icon
								+icon('link-arrow2')(width="24" height="23")

		+circle-link('', 'portfolio-section__more')

