section.portfolio-section
	.portfolio-section__container.container-fluid

		h1.visually-hidden Projects masonry

		ul.portfolio-section__grid.__js_portfolio-section-masonry
			each item in PORTFOLIO_CARDS
				- let cl2 = item.cl2 ? ' portfolio-section__item' + item.cl2: '';
				li.portfolio-section__item.__js_masonry-item(class= cl2, data-aos="fade-up")
					a.project-preview.project-preview--elastic(href= URLS.projects.single)
						picture
							source(type="image/webp" srcset="img/picture/common/portfolio-section/" + item.image.url + ".webp 1x, img/picture/common/portfolio-section/" + item.image.url + "@2x.webp 2x")

							img(src="img/picture/common/portfolio-section/" + item.image.url + ".jpg", srcset="img/picture/common/portfolio-section/" + item.image.url + "@2x.jpg 2x", width= item.image.w, height= item.image.h, alt= item.title)
						span.project-preview__bottom
							span.project-preview__title= item.title
							span.project-preview__icon
								+icon('link-arrow2')(width="24" height="23")

		+circle-link('', 'portfolio-section__more')(data-aos="fade-up")

