.about-video-section__statistics.statistics
	.statistics__container.container
		.row.justify-content-between
			.statistics__item.col-6.col-md-auto(data-aos="fade-up")
				.statistics__item-value <span class="__js_number" data-end-value="25">0</span>
				.statistics__item-text managers
			.statistics__item.col-6.col-md-auto(data-aos="fade-up")
				.statistics__item-value
					span.__js_number(data-end-value="200") 0
				.statistics__item-text the person <br>in the team
			.statistics__item.col-6.col-md-auto(data-aos="fade-up")
				.statistics__item-value
					span.__js_number(data-end-value="15") 0
				.statistics__item-text Years <br>experience

			.statistics__item.col-6.col-md-auto(data-aos="fade-up")
				.statistics__item-value
					span.__js_number(data-end-value="7") 0
				.statistics__item-text awards and <br>accolades
