.team-grid
	.row
		each item in MEMBERS_CARDS_2
			.team-grid__item.col-12.col-sm-6.col-md-4
				.member-card.member-card--elastic
					.member-card__image
						picture
							source(type="image/webp", srcset="img/picture/team/" + item.image.url + ".webp 1x, img/picture/team/" + item.image.url + "@2x.webp 2x")
							img(src="img/picture/team/" + item.image.url + ".jpg" srcset="img/picture/team/" + item.image.url + "@2x.jpg 2x", width= item.image.w, height= item.image.h, alt= item.name + " photo")
					.member-card__info
						.member-card__title= item.name
						.member-card__post= item.post
						+social('member-card__social social--hover-secondary', ['linkedin', 'facebook', 'twitter'])
