section.team-section.team-section--pb-0
	.team-section__container.container-fluid
		h2.team-section__title(data-aos="fade-up") Our magic team
		.team-section__grid.swiper-container.__js_team-carousel-only-mobile
			.swiper-wrapper
				each item in MEMBERS_CARDS
					.team-section__item.swiper-slide
						.member-card(data-aos="fade-up")
							.member-card__image
								picture
									source(type="image/webp", srcset="img/picture/team/" + item.image.url + ".webp 1x, img/picture/team/" + item.image.url + "@2x.webp 2x")
									img(src="img/picture/team/" + item.image.url + ".jpg" srcset="img/picture/team/" + item.image.url + "@2x.jpg 2x", width= item.image.w, height= item.image.h, alt= item.name + " photo")
							.member-card__info
								.member-card__title= item.name
								.member-card__post= item.post
								+social('member-card__social social--hover-secondary', ['linkedin', 'facebook', 'twitter'])
