section.team-section.team-section--pb-0
	.team-section__container.container.container--size-large
		h2.team-section__title(data-aos="fade-up") Our magic team
		.team-section__grid
			each item in MEMBERS_CARDS
				.team-section__item
					.member-card(data-aos="fade-up")
						.member-card__image
							img(src="img/picture/team/" + item.image.url + ".jpg", width= item.image.w, height= item.image.h, alt= item.name + " photo")
						.member-card__info
							.member-card__title= item.name
							.member-card__post= item.post
							+social('member-card__social social--hover-white', ['linkedin', 'facebook', 'twitter'])
