article.vcard(style="background-image: url('img/picture/vcard/vcard.jpg');")
	.vcard__container.container-fluid
		header.vcard__header.row
			.col-12.col-sm-9
				.vcard__post A product Designer
				h1.vcard__title Scott <br>Patterson
			.col-12.col-sm-3.align-self-end.text-right
				+arrow-link('Portfolio', URLS.projects.masonry, 'about-mamber__more arrow-link--theme-yellow')

		.vcard__main
			.vcard__great Hi! My name is Scott Patterson. I have accumulated 7 <br>years of experience in graphic and web design,

			table
				tbody
					tr
						td Services
						td
							ul
								li Web Deveopment
								li Brand Design
								li Photography
								li WordPress
								li Photoshop

					tr
						td Contact
						td
							a(href="tel:34255233829") 3 (425) 523 38 29
							br
							a(href="mailto:Centrix@info.com") Centrix@info.com

			.vcard__skills.skills.row.justify-content-between
				each item in SKILLS

					.skills__item.skill.skill--theme-yellow.col-12.col-md-6(data-percent= item.percent)
						.skill__header
							.skill__title= item.text
							.skill__percent
								span.__js_number= item.percent
								| %
						.skill__bar
							.skill__progress

			section.vcard__start-project.start-project.start-project--no-padding
				h2.start-project__title.start-project__title--size-small Start a Project?

				.start-project__form
					form(action="#", method="post")
						.row.justify-content-between.gx-0
							.discuss-project__field-wrapper.col-12.col-md-6
								label.start-project__field.field.field--theme-yellow
									input(type="text", name="name")
									span.field__hint Name
							.discuss-project__field-wrapper.col-12.col-md-6
								label.start-project__field.field.field--theme-yellow
									input(type="email", name="email")
									span.field__hint Email
							.col-12
								label.start-project__field.start-project__field--textarea.field.field--theme-yellow
									textarea(name="message", required)
									span.field__hint Message
							.start-project__bottom.col-12
								.start-project__file.file-upload.file-upload--theme-yellow
									label.file-upload__label
										input.visually-hidden(type="file")
										span.file-upload__icon
											+icon('paper-clip')(width="16", height="16")
										span.file-upload__text Attach a file
								+btn(true, 'Submit', '', 'start-project__send')(type="submit")

