html,
body {
	overflow: visible;
}

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	@include media(lg) {
		::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}

		::-webkit-scrollbar-button {
			display: none;
		}

		::-webkit-scrollbar-track {
			background-color: transparent;
		}

		::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}

		::-webkit-scrollbar-thumb {
			background-color: $color-yellow;
			border-radius: none;
		}

		::-webkit-scrollbar-corner {
			background-color: #999;
		}

		::-webkit-resizer {
			background-color: #666;
		}
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;

	-webkit-locale: auto;
	white-space: normal;
	display: flex;
	flex-direction: column;

	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: $font-family--main;

	@include text();
	font-weight: 400;
	-webkit-locale: auto;
	white-space: normal;

	background-color: $color-smoky;

	&.no-grow main {
		flex-grow: unset;
	}
}

.container,
.container-fluid {
	padding: 0 19px;

	@include media(xxl) {
		//max-width: 1750px;
	}

	&--size-large {
		@include media(xxl) {
			max-width: 1920px;
			padding: 0 80px;
		}
	}

	&--small {
		@include media(xxl) {
			//max-width: 1140px;
		}
	}

	&--xsmall {
		@include media(xxl) {
			max-width: 760px;
		}
	}
}

[class*="col-"] {
	@include media(xxl) {
		padding-left: 15px;
		padding-right: 15px;
	}
}
.g-0 [class*="col-"] {
	@include media(xxl) {
		padding-left: 0;
		padding-right: 0;
	}
}

main {
	position: relative;
	z-index: 1;
	flex-grow: 1;
	//border-bottom: solid 1px transparent;
	background-color: $color-smoky;
}

a {
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

@keyframes text-rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes link-arrow-hover {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(3px);
	}

	100% {
		transform: translateX(0);
	}
}
