$width--full: 1750px;
$width--middle: 1140px;
$width--small: 760px;
$width--non-standard: 1845px;

// Colors
//---------------------------------
$color-default-white: #ffffff;
$color-default-black: #000000;

//$color-main: #616161;
$color-dark: #212121;
$color-dark-0a: #0a0a0a;
$color-dark-26: #262626;
$color-dark-1d: #1d1d1d;
$color-smoky: #f7f7f7;

$color-yellow: #fffe55;
$color-yellow-hover: darken($color-yellow, 10%);

$color-grey: #787878;
$color-grey-d3: #d3d3d3;
$color-grey-e5: #e5e5e5;
$color-grey-76: #767676;
$color-grey-ab: #ababab;

$color-base: $color-default-black; // основной цвет текста, используется в миксине text()

// Typography
//--------------   $font-family, $file-name, $weight, $style: normal

//
$fonts: "Neue Montreal" "NeueMontreal-Regular" 400 normal,
	"Neue Montreal" "NeueMontreal-Medium" 500 normal,
	"Neue Montreal" "NeueMontreal-Italic" 400 italic,
	"Gilroy" "Gilroy-Regular" 400 normal, "Gilroy" "Gilroy-Bold" 700 normal;

$font-family--main: "Neue Montreal", "Arial", sans-serif;
$font-family--secondary: "Gilroy", "Arial", sans-serif;
//$font-family--third: "Swansea", "Arial", sans-serif;

$font-size-base: 15px;
$line-height-base: calc(21 / 15); //1.4

/////////////////////////////
$default-transition-settings: 0.3s ease;

///////////////////////////////

// Viewports
//---------------------------------

//bootstrap 5 breakpoints
$breakpoints: (
	default: "default",
	xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	full: 1920px,
) !default;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
