mixin arrow-link(text, url, cl)
	a(class= cl ? cl + ' arrow-link' : 'arrow-link', href= url ? url : '#')&attributes(attributes)
		if text
			span.arrow-link__text= text ? text : 'link anchor'
		span.arrow-link__icon
			+icon('link-arrow')(width="75", height="75")
