mixin first-banner(title, pic, className)
	.first-banner(class=className, data-aos="fade")
		.first-banner__image.parallax-bg
			picture
				source(type="image/webp", srcset="img/picture/first-banner/" + pic.n + ".webp 1x, img/picture/first-banner/" + pic.n + "@2x.webp 2x")
				img(src="img/picture/first-banner/" + pic.n + ".jpg", srcset="img/" + pic.n + "@2x.jpg 2x", width= pic.w, height= pic.h, alt="")
		h1.heading.heading--size-large.blog-grid__title!= title
