mixin first-banner(title, pic, className)
	.first-banner(class=className)
		.first-banner__image
			img(src="img/picture/first-banner/" + pic.n + ".jpg", width= pic.w, height= pic.h, alt="")
		.container.container--size-large
			h1.first-banner__title.heading.heading--size-large!= title
