mixin navigation-dropdown(obj)
	.navigation__dropdown
		ul.navigation__dropdown-list
			each item in obj
				if item.currentPage === currentPage
					li.navigation__dropdown-item.navigation__dropdown-item--current
						a= item.name
							span.navigation__dropdown-icon
								+icon('link-arrow')(width="12", height="13")
				else
					li.navigation__dropdown-item
						a.animsition-link(href= item.url)= item.name
							span.navigation__dropdown-icon
								+icon('link-arrow')(width="12", height="13")
